In [47]:
import re
import json

import pandas as pd
import numpy as np

from typing import Union
from datetime import datetime, date

In [48]:
df = pd.read_csv("data/raw_csv_files/eu_mrv_shipping_data_2020.csv")

In [49]:
pd.set_option('display.max_columns', None)

In [50]:
df.head()

,IMO Number,Name,Ship type,Reporting Period,Technical efficiency,Port of Registry,Home Port,Ice Class,DoC issue date,DoC expiry date,Verifier Number,Verifier Name,Verifier NAB,Verifier Address,Verifier City,Verifier Accreditation number,Verifier Country,A,B,C,D,Total fuel consumption [m tonnes],Fuel consumptions assigned to On laden [m tonnes],Total CO₂ emissions [m tonnes],CO₂ emissions from all voyages between ports under a MS jurisdiction [m tonnes],CO₂ emissions from all voyages which departed from ports under a MS jurisdiction [m tonnes],CO₂ emissions from all voyages to ports under a MS jurisdiction [m tonnes],CO₂ emissions which occurred within ports under a MS jurisdiction at berth [m tonnes],CO₂ emissions assigned to Passenger transport [m tonnes],CO₂ emissions assigned to Freight transport [m tonnes],CO₂ emissions assigned to On laden [m tonnes],Annual Total Time spent at sea [hours],Annual average Fuel consumption per distance [kg / n mile],Annual average Fuel consumption per transport work (mass) [g / m tonnes · n miles],Annual average Fuel consumption per transport work (volume) [g / m³ · n miles],Annual average Fuel consumption per transport work (dwt) [g / dwt carried · n miles],Annual average Fuel consumption per transport work (pax) [g / pax · n miles],Annual average Fuel consumption per transport work (freight) [g / m tonnes · n miles],Annual average CO₂ emissions per distance [kg CO₂ / n mile],Annual average CO₂ emissions per transport work (mass) [g CO₂ / m tonnes · n miles],Annual average CO₂ emissions per transport work (volume) [g CO₂ / m³ · n miles],Annual average CO₂ emissions per transport work (dwt) [g CO₂ / dwt carried · n miles],Annual average CO₂ emissions per transport work (pax) [g CO₂ / pax · n miles],Annual average CO₂ emissions per transport work (freight) [g CO₂ / m tonnes · n miles],Through ice [n miles],Total time spent at sea [hours],Total time spent at sea through ice [hours],Fuel consumption per distance on laden voyages [kg / n mile],Fuel consumption per transport work (mass) on laden voyages [g / m tonnes · n miles],Fuel consumption per transport work (volume) on laden voyages [g / m³ · n miles],Fuel consumption per transport work (dwt) on laden voyages [g / dwt carried · n miles],Fuel consumption per transport work (pax) on laden voyages [g / pax · n miles],Fuel consumption per transport work (freight) on laden voyages [g / m tonnes · n miles],CO₂ emissions per distance on laden voyages [kg CO₂ / n mile],CO₂ emissions per transport work (mass) on laden voyages [g CO₂ / m tonnes · n miles],CO₂ emissions per transport work (volume) on laden voyages [g CO₂ / m³ · n miles],CO₂ emissions per transport work (dwt) on laden voyages [g CO₂ / dwt carried · n miles],CO₂ emissions per transport work (pax) on laden voyages [g CO₂ / pax · n miles],CO₂ emissions per transport work (freight) on laden voyages [g CO₂ / m tonnes · n miles],Additional information to facilitate the understanding of the reported average operational energy efficiency indicators,Average density of the cargo transported [m tonnes / m³]
0,6602898,OCEAN MAJESTY,Passenger ship,2020,EIV (31.73 gCO₂/t·nm),Madeira,NaN,NaN,01/07/2021,30/06/2022,NaN,Bureau Veritas Certification France,COFRAC,"Le Triangle de l'Arche\n9, cours du Triangle",92937 PARIS LA DEFENSE,4-0076,France,Yes,NaN,NaN,NaN,951.37,NaN,2985.13,1505.53,267.50,367.12,844.98,NaN,NaN,NaN,488.87,132.07,NaN,NaN,NaN,448.73,NaN,414.4,NaN,NaN,NaN,1407.97,NaN,NaN,488.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6703343,EQUALITY,Other ship types,2020,EIV (57.84 gCO₂/t·nm),Beirut,NaN,NaN,30/06/2021,30/06/2022,NaN,Dromon Bureau of Shipping,Hellenic Accreditation System,"2-4 Iakovou Dragatsi street, 18535",Piraeus,1128,Greece,Yes,NaN,NaN,NaN,225.70,NaN,706.78,0.00,401.05,286.49,19.24,NaN,NaN,NaN,603.00,40.75,67.66,NaN,54.28,NaN,NaN,127.62,211.88,NaN,169.97,NaN,NaN,NaN,603.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7037806,IONIAN STAR,Ro-pax ship,2020,EIV (19.4 gCO₂/t·nm),NaN,NaN,NaN,31/03/2021,30/06/2022,NaN,VERIFAVIA SARL,COFRAC,33 Avenue du Maine,Paris,4-0596,France,Yes,NaN,NaN,NaN,1543.32,NaN,4947.88,3713.13,0.00,0.00,1234.60,2968.88,1979.0,NaN,995.00,103.93,NaN,NaN,NaN,20.43,4.32,333.19,NaN,NaN,NaN,65.5,13.85,NaN,995.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7043843,TALOS,Ro-ro ship,2020,EIV (48.71 gCO₂/t·nm),Piraeus,Piraeus,NaN,16/06/2021,30/06/2022,NaN,VERIFAVIA SARL,COFRAC,33 Avenue du Maine,Paris,4-0596,France,Yes,NaN,Yes,NaN,2625.33,NaN,8416.81,7966.37,0.00,0.00,450.44,NaN,NaN,NaN,3109.20,64.28,168.74,NaN,NaN,NaN,NaN,206.09,540.98,NaN,NaN,NaN,NaN,NaN,3109.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7128332,SEA WIND,Ro-pax ship,2020,EIV (9.29 gCO₂/t·nm),Tallinn,Tallinn,IB,26/04/2021,30/06/2022,NaN,VERIFAVIA SARL,COFRAC,33 Avenue du Maine,Paris,4-0596,France,Yes,NaN,NaN,NaN,4152.78,NaN,13137.92,11259.78,0.00,0.00,1836.65,2911.80,8348.0,NaN,3619.00,86.64,NaN,NaN,NaN,487.93,45.43,274.09,NaN,NaN,NaN,1540.58,143.45,NaN,3619.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
df.applymap(type).apply(pd.value_counts).fillna(0)

,IMO Number,Name,Ship type,Reporting Period,Technical efficiency,Port of Registry,Home Port,Ice Class,DoC issue date,DoC expiry date,Verifier Number,Verifier Name,Verifier NAB,Verifier Address,Verifier City,Verifier Accreditation number,Verifier Country,A,B,C,D,Total fuel consumption [m tonnes],Fuel consumptions assigned to On laden [m tonnes],Total CO₂ emissions [m tonnes],CO₂ emissions from all voyages between ports under a MS jurisdiction [m tonnes],CO₂ emissions from all voyages which departed from ports under a MS jurisdiction [m tonnes],CO₂ emissions from all voyages to ports under a MS jurisdiction [m tonnes],CO₂ emissions which occurred within ports under a MS jurisdiction at berth [m tonnes],CO₂ emissions assigned to Passenger transport [m tonnes],CO₂ emissions assigned to Freight transport [m tonnes],CO₂ emissions assigned to On laden [m tonnes],Annual Total Time spent at sea [hours],Annual average Fuel consumption per distance [kg / n mile],Annual average Fuel consumption per transport work (mass) [g / m tonnes · n miles],Annual average Fuel consumption per transport work (volume) [g / m³ · n miles],Annual average Fuel consumption per transport work (dwt) [g / dwt carried · n miles],Annual average Fuel consumption per transport work (pax) [g / pax · n miles],Annual average Fuel consumption per transport work (freight) [g / m tonnes · n miles],Annual average CO₂ emissions per distance [kg CO₂ / n mile],Annual average CO₂ emissions per transport work (mass) [g CO₂ / m tonnes · n miles],Annual average CO₂ emissions per transport work (volume) [g CO₂ / m³ · n miles],Annual average CO₂ emissions per transport work (dwt) [g CO₂ / dwt carried · n miles],Annual average CO₂ emissions per transport work (pax) [g CO₂ / pax · n miles],Annual average CO₂ emissions per transport work (freight) [g CO₂ / m tonnes · n miles],Through ice [n miles],Total time spent at sea [hours],Total time spent at sea through ice [hours],Fuel consumption per distance on laden voyages [kg / n mile],Fuel consumption per transport work (mass) on laden voyages [g / m tonnes · n miles],Fuel consumption per transport work (volume) on laden voyages [g / m³ · n miles],Fuel consumption per transport work (dwt) on laden voyages [g / dwt carried · n miles],Fuel consumption per transport work (pax) on laden voyages [g / pax · n miles],Fuel consumption per transport work (freight) on laden voyages [g / m tonnes · n miles],CO₂ emissions per distance on laden voyages [kg CO₂ / n mile],CO₂ emissions per transport work (mass) on laden voyages [g CO₂ / m tonnes · n miles],CO₂ emissions per transport work (volume) on laden voyages [g CO₂ / m³ · n miles],CO₂ emissions per transport work (dwt) on laden voyages [g CO₂ / dwt carried · n miles],CO₂ emissions per transport work (pax) on laden voyages [g CO₂ / pax · n miles],CO₂ emissions per transport work (freight) on laden voyages [g CO₂ / m tonnes · n miles],Additional information to facilitate the understanding of the reported average operational energy efficiency indicators,Average density of the cargo transported [m tonnes / m³]
<class 'int'>,11838.0,0.0,0.0,11838.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
<class 'str'>,0.0,11838.0,11838.0,0.0,11838.0,11131.0,2382.0,2084.0,11838.0,11838.0,4993.0,11838.0,11838.0,11838.0,11838.0,11838.0,11838.0,5652.0,3718.0,3854.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11838.0,10575.0,335.0,1412.0,492.0,381.0,11838.0,10575.0,335.0,1412.0,492.0,381.0,0.0,0.0,0.0,1201.0,1156.0,0.0,100.0,0.0,0.0,1201.0,1156.0,0.0,100.0,0.0,0.0,20.0,0.0
<class 'float'>,0.0,0.0,0.0,0.0,0.0,707.0,9456.0,9754.0,0.0,0.0,6845.0,0.0,0.0,0.0,0.0,0.0,0.0,6186.0,8120.0,7984.0,11837.0,11838.0,11838.0,11838.0,11838.0,11838.0,11838.0,11838.0,11838.0,11838.0,11838.0,11838.0,0.0,1263.0,11503.0,10426.0,11346.0,11457.0,0.0,1263.0,11503.0,10426.0,11346.0,11457.0,11838.0,11838.0,11838.0,10637.0,10682.0,11838.0,11738.0,11838.0,11838.0,10637.0,10682.0,11838.0,11738.0,11838.0,11838.0,11818.0,11838.0

In [52]:
for col in df.columns:
    print(df[col].value_counts())

6602898    1
9599078    1
9598842    1
9598854    1
9598866    1
          ..
9356622    1
9356646    1
9356658    1
9356660    1
9910088    1
Name: IMO Number, Length: 11838, dtype: int64
AURORA               4
SKYROS               3
PEGASUS              3
UNDINE               3
PLUTO                3
                    ..
LOTTA AUERBACH       1
LEA AUERBACH         1
DIANA                1
SEA-CARGO EXPRESS    1
PETROTRANS-5904      1
Name: Name, Length: 11682, dtype: int64
Bulk carrier                  3378
Oil tanker                    1877
Container ship                1850
Chemical tanker               1345
General cargo ship            1231
Vehicle carrier                453
Ro-pax ship                    381
Gas carrier                    343
LNG carrier                    265
Ro-ro ship                     239
Refrigerated cargo carrier     144
Other ship types               136
Passenger ship                 111
Container/ro-ro cargo ship      70
Combination carrier             15
Name: Ship type, dtype: int64
2020    11838
Name: Reporting Period, dtype: int64
Not Applicable            135
EIV (5.9 gCO₂/t·nm)        36
EIV (5 gCO₂/t·nm)          25
EIV (4.6 gCO₂/t·nm)        24
EIV (3.89 gCO₂/t·nm)       24
                         ...
EIV (8.72 gCO₂/t·nm)        1
EIV (47.68 gCO₂/t·nm)       1
EIV (26.92 gCO₂/t·nm)       1
EIV (21.65 gCO₂/t·nm)       1
EEDI (13.08 gCO₂/t·nm)      1
Name: Technical efficiency, Length: 3393, dtype: int64
Monrovia        1287
Majuro          1211
Valletta         752
Panama           644
PANAMA           620
                ...
Randers            1
bergen             1
Nyborg             1
Nibe               1
Saint John`s       1
Name: Port of Registry, Length: 521, dtype: int64
Monrovia                     311
Majuro                       197
Valletta                     170
Singapore                    156
Panama                       121
                            ...
Hong                           1
Monrovia, Liberia              1
LOS CRISTIANOS (TENERIFE)      1
Qatar                          1
Cadiz                          1
Name: Home Port, Length: 284, dtype: int64
IA           1138
IC            523
IB            209
IA Supper     119
PC1            35
PC3            28
PC7            14
PC2             8
PC4             6
PC6             4
Name: Ice Class, dtype: int64
30/04/2021    726
26/04/2021    706
28/04/2021    664
27/04/2021    590
29/04/2021    507
             ...
12/01/2022      1
03/02/2022      1
19/10/2021      1
11/08/2021      1
14/01/2022      1
Name: DoC issue date, Length: 271, dtype: int64
30/06/2022    11838
Name: DoC expiry date, dtype: int64
1083          2068
581           1258
1             1189
541            457
10296            7
V 107            7
PL-VG-0013       7
Name: Verifier Number, dtype: int64
DNV GL                                                                                                  2951
AMERICAN BUREAU OF SHIPPING HELLENIC SINGLE MEMBER LIMITED LIABILITY COMPANY (ABS HELLENIC S.M. LTD)    2068
HELLENIC LLOYD'S S.A.                                                                                   1258
Nippon Kaiji Kyokai                                                                                     1189
RINA Services Spa                                                                                        952
VERIFAVIA SARL                                                                                           928
Bureau Veritas Certification France                                                                      860
CHINA CLASSIFICATION SOCIETY                                                                             457
EMICERT                                                                                                  382
Korean Register                                                                                          295
Dromon Bureau of Shipping                                                                                131
ICS Verification Services Single Member P.C.                                                             120
EnvService GmbH                                                                                          108
Swiss Climate EcoCare GmbH                                                                                98
CROATIAN REGISTER OF SHIPPING                                                                             15
MRVControl AB                                                                                              7
Indian Register of Shipping                                                                                7
Polish Register of Shipping                                                                                7
Tecnoveritas                                                                                               5
Name: Verifier Name, dtype: int64
German national accreditation body (DAkkS)       2951
Hellenic Accreditation System (ESYD)             2188
COFRAC                                           1788
HELLENIC ACCREDITATION SYSTEM                    1258
Deutsche Akkredierungsstelle GmbH                1189
ACCREDIA                                          952
Denmark National Accreditation Body (DANAK)       457
HELLENIC ACCREDITATION SYSTEM (ESYD)              382
DAkkS                                             295
Deutsche Akkreditierungsstelle GmbH               206
Hellenic Accreditation System                     131
Croatian Accreditation Agency                      15
SWEDAC                                              7
Dutch Accreditation Council RvA                     7
PCA Polskie Centrum Akredytacji                     7
Portuguese Institute for Accreditation (IPAC)       5
Name: Verifier NAB, dtype: int64
Brooktorkai 18                                                                         2951
1 Sachtouri & 1 Navarinou Street                                                       2068
348 Syggrou Avenue,                                                                    1258
Nippon Kaiji Kyokai, 4-7, Kioi-Cho, Chiyoda-Ku, Tokyo 102-8567, Japan                  1189
Via Corsica 12                                                                          952
33 Avenue du Maine                                                                      928
Le Triangle de l'Arche\n9, cours du Triangle                                            860
CCS Mansion 9 DONGZHIMEN NAN DA JIE                                                     457
9, KAREA str                                                                            382
36, Myeongji ocean city 9-ro, Gangseo gu,\n\nBusan, 618-814, Republic of Korea          295
2-4 Iakovou Dragatsi street, 18535                                                      131
55 Filonos Str.\n185 35 Piraeus, Greece                                                 120
Buchenring 14                                                                           108
Steinhöft 11, 20459 Hamburg                                                              98
Marasoviceva 67                                                                          15
Husängsvägen 4                                                                            7
52 A, Adi Shankaracharya Marg,\nOpposite Powai Lake, Powai, Mumbai - 400072, INDIA.       7
al.gen.J.Hallera 126                                                                      7
Av. Dr. Francisco Sá Carneiro, NEM, Pav. 36-A                                             5
Name: Verifier Address, dtype: int64
20457 Hamburg             2951
Kallithea                 2068
Athens                    1258
Tokyo                     1189
Genova                     952
Paris                      928
92937 PARIS LA DEFENSE     860
Beijing                    457
ATHENS                     382
Busan                      295
Piraeus                    251
21272 Egestorf             108
Hamburg                     98
21000 SPLIT                 15
47492 Ellös                  7
Mumbai                       7
Gdańsk                       7
Mafra                        5
Name: Verifier City, dtype: int64
D-VS-16026-01-00    2951
1083                2068
1190                1258
VS-21325-01         1189
002O                 952
4-0596               928
4-0076               860
7508                 457
874-4                382
D-VS-20824-01-00     295
1128                 131
1101                 120
D-VS-20809-01-00     108
D-VS-20810-01         98
9568                  15
10296                  7
V 107                  7
PL-VG-0013             7
H0005                  5
Name: Verifier Accreditation number, dtype: int64
Greece                3959
Germany               3157
France                1788
Japan                 1189
Italy                  952
China                  457
Korea, Republic of     295
Croatia                 15
Sweden                   7
India                    7
Poland                   7
Portugal                 5
Name: Verifier Country, dtype: int64
Yes    5652
Name: A, dtype: int64
Yes    3718
Name: B, dtype: int64
Yes    3854
Name: C, dtype: int64
Yes    1
Name: D, dtype: int64
0.00       377
985.10       3
220.00       3
383.90       3
955.23       3
          ...
2458.99      1
5289.55      1
3337.36      1
1706.63      1
179.70       1
Name: Total fuel consumption [m tonnes], Length: 11264, dtype: int64
1336.80    2
555.10     2
1351.70    2
624.40     2
497.40     2
          ..
337.50     1
2094.75    1
688.21     1
846.80     1
528.36     1
Name: Fuel consumptions assigned to On laden [m tonnes], Length: 1196, dtype: int64
0.00        377
4488.12       2
4815.27       2
10421.90      2
483.46        2
           ...
14210.07      1
22925.26      1
6537.37       1
16300.54      1
561.77        1
Name: Total CO₂ emissions [m tonnes], Length: 11433, dtype: int64
0.00       3055
113.49        4
46.81         3
41.04         3
53.22         3
           ...
1425.32       1
2314.50       1
511.31        1
991.26        1
50.18         1
Name: CO₂ emissions from all voyages between ports under a MS jurisdiction [m tonnes], Length: 8583, dtype: int64
0.00       1459
1014.00       3
827.04        2
1528.36       2
234.00        2
           ...
1069.86       1
302.11        1
1986.03       1
3563.93       1
237.69        1
Name: CO₂ emissions from all voyages which departed from ports under a MS jurisdiction [m tonnes], Length: 10273, dtype: int64
0.00       1454
80.15         3
2208.58       3
3116.97       2
2838.05       2
           ...
2265.00       1
2726.34       1
2117.82       1
3537.75       1
258.02        1
Name: CO₂ emissions from all voyages to ports under a MS jurisdiction [m tonnes], Length: 10265, dtype: int64
0.00       545
6.41         7
22.44        7
84.00        6
28.85        6
          ...
0.96         1
9.52         1
2822.61      1
2218.47      1
10.96        1
Name: CO₂ emissions which occurred within ports under a MS jurisdiction at berth [m tonnes], Length: 9988, dtype: int64
0.00        2
2968.88     1
12340.45    1
8023.72     1
6506.73     1
           ..
1525.23     1
785.65      1
28064.89    1
31441.01    1
7439.26     1
Name: CO₂ emissions assigned to Passenger transport [m tonnes], Length: 375, dtype: int64
0.00        3
1979.00     1
1323.64     1
36871.40    1
27104.62    1
           ..
13054.09    1
38496.45    1
1760.89     1
1843.98     1
9092.44     1
Name: CO₂ emissions assigned to Freight transport [m tonnes], Length: 374, dtype: int64
20567.27    1
3271.54     1
533.57      1
491.88      1
429.85      1
           ..
1063.61     1
6620.69     1
2178.32     1
2687.28     1
1646.07     1
Name: CO₂ emissions assigned to On laden [m tonnes], Length: 1201, dtype: int64
0.00       382
624.00       4
1167.00      4
629.00       4
626.00       4
          ...
837.10       1
603.84       1
2168.23      1
2684.18      1
617.25       1
Name: Annual Total Time spent at sea [hours], Length: 10798, dtype: int64
Division by zero!    382
84.96                  7
68.36                  7
69.89                  6
76.67                  6
                    ...
66.33                  1
40.94                  1
117.47                 1
93.19                  1
47.55                  1
Name: Annual average Fuel consumption per distance [kg / n mile], Length: 8299, dtype: int64
Division by zero!    944
2.14                  38
2.33                  37
2.57                  34
2.35                  33
                    ...
16.1                   1
13.4                   1
11.68                  1
15.26                  1
12.54                  1
Name: Annual average Fuel consumption per transport work (mass) [g / m tonnes · n miles], Length: 2413, dtype: int64
3.23                 5
Division by zero!    5
3.3                  4
3.58                 4
2.33                 3
                    ..
2.82                 1
10.09                1
7.25                 1
3.17                 1
2.41                 1
Name: Annual average Fuel consumption per transport work (volume) [g / m³ · n miles], Length: 248, dtype: int64
Division by zero!    146
6.91                   6
8.75                   5
7.12                   5
6.2                    5
                    ...
24.26                  1
12.97                  1
14.66                  1
81.68                  1
8.55                   1
Name: Annual average Fuel consumption per transport work (dwt) [g / dwt carried · n miles], Length: 868, dtype: int64
Division by zero!    15
327.9                 2
0.42                  2
0                     2
0.09                  2
                     ..
26130.31              1
97526.74              1
44294.62              1
51.78                 1
452.27                1
Name: Annual average Fuel consumption per transport work (pax) [g / pax · n miles], Length: 473, dtype: int64
Division by zero!    6
47.28                2
0.17                 2
0                    2
0.1                  2
                    ..
106.18               1
40.28                1
22.17                1
23.1                 1
353.27               1
Name: Annual average Fuel consumption per transport work (freight) [g / m tonnes · n miles], Length: 369, dtype: int64
Division by zero!    382
230.73                 5
273.44                 4
274.3                  4
269.38                 4
                    ...
371.21                 1
402.59                 1
426.67                 1
169.64                 1
108.29                 1
Name: Annual average CO₂ emissions per distance [kg CO₂ / n mile], Length: 10176, dtype: int64
Division by zero!    944
8.12                  15
8.78                  15
11.32                 15
8.99                  13
                    ...
2.83                   1
37.96                  1
52.35                  1
75.76                  1
43.28                  1
Name: Annual average CO₂ emissions per transport work (mass) [g CO₂ / m tonnes · n miles], Length: 4191, dtype: int64
Division by zero!    5
9                    3
11.01                3
7.59                 3
12.19                3
                    ..
11.15                1
14.11                1
16.11                1
11.52                1
7.67                 1
Name: Annual average CO₂ emissions per transport work (volume) [g CO₂ / m³ · n miles], Length: 290, dtype: int64
Division by zero!    146
25.12                  3
20.06                  3
24.25                  3
24.19                  3
                    ...
19.81                  1
41.57                  1
47.01                  1
18.69                  1
16.96                  1
Name: Annual average CO₂ emissions per transport work (dwt) [g CO₂ / dwt carried · n miles], Length: 1108, dtype: int64
Division by zero!    15
0                     2
1407.97               1
473.51                1
80.64                 1
                     ..
9165.94               1
81692.15              1
310360.49             1
139793.15             1
1449.98               1
Name: Annual average CO₂ emissions per transport work (pax) [g CO₂ / pax · n miles], Length: 477, dtype: int64
Division by zero!    6
0                    2
881.27               2
13.85                1
929.95               1
                    ..
331.58               1
127.09               1
69.23                1
72.2                 1
1132.58              1
Name: Annual average CO₂ emissions per transport work (freight) [g CO₂ / m tonnes · n miles], Length: 374, dtype: int64
0.00        677
82.00         1
85.50         1
5.00          1
15.00         1
1047.00       1
266.00        1
151.00        1
662.40        1
11103.30      1
9208.96       1
8357.40       1
54.70         1
19.30         1
Name: Through ice [n miles], dtype: int64
0.00       382
624.00       4
1167.00      4
629.00       4
626.00       4
          ...
837.10       1
603.84       1
2168.23      1
2684.18      1
617.25       1
Name: Total time spent at sea [hours], Length: 10798, dtype: int64
0.00       676
12.00        1
3.50         1
1.00         1
2.50         1
95.20        1
10.75        1
15.00        1
49.00        1
50.60        1
1166.35      1
869.43       1
895.70       1
5.50         1
3.16         1
Name: Total time spent at sea through ice [hours], dtype: int64
Division by zero!    345
62.31                  2
84.77                  2
71.45                  2
83.8                   2
                    ...
98.16                  1
64.54                  1
203.56                 1
184.54                 1
100.4                  1
Name: Fuel consumption per distance on laden voyages [kg / n mile], Length: 835, dtype: int64
Division by zero!    54
1.91                 10
2.75                  8
2.9                   7
3.13                  6
                     ..
5.62                  1
7.51                  1
0.35                  1
6.38                  1
2.22                  1
Name: Fuel consumption per transport work (mass) on laden voyages [g / m tonnes · n miles], Length: 639, dtype: int64
2.14    2
1.55    2
2.43    1
1.13    1
1.62    1
1.89    1
1.97    1
1.31    1
1.50    1
1.22    1
8.92    1
1.68    1
1.69    1
1.49    1
4.41    1
2.31    1
1.01    1
1.08    1
1.91    1
1.92    1
3.62    1
1.67    1
2.92    1
2.54    1
2.57    1
2.17    1
1.45    1
1.57    1
1.75    1
3.96    1
1.60    1
1.74    1
1.52    1
2.44    1
2.15    1
1.46    1
1.37    1
Name: Fuel consumption per transport work (volume) on laden voyages [g / m³ · n miles], dtype: int64
Division by zero!    5
2.7                  2
2.42                 2
2.49                 2
2.39                 2
                    ..
2.95                 1
2.36                 1
3.45                 1
2.34                 1
2.06                 1
Name: Fuel consumption per transport work (dwt) on laden voyages [g / dwt carried · n miles], Length: 92, dtype: int64
Series([], Name: Fuel consumption per transport work (pax) on laden voyages [g / pax · n miles], dtype: int64)
Series([], Name: Fuel consumption per transport work (freight) on laden voyages [g / m tonnes · n miles], dtype: int64)
Division by zero!    345
261.07                 2
362.95                 2
195.77                 2
331.34                 2
                    ...
205.08                 1
643.44                 1
585.3                  1
519.04                 1
313.68                 1
Name: CO₂ emissions per distance on laden voyages [kg CO₂ / n mile], Length: 848, dtype: int64
Division by zero!    54
9.71                  4
8.98                  4
6.02                  4
4.62                  4
                     ..
16.96                 1
19.24                 1
3.15                  1
11.68                 1
7.03                  1
Name: CO₂ emissions per transport work (mass) on laden voyages [g CO₂ / m tonnes · n miles], Length: 889, dtype: int64
5.28     2
5.89     2
4.72     2
3.38     1

In [53]:
string_columns = [
    "IMO Number",
    "Name",
    "Ship type",
    "Reporting Period",
    "Technical efficiency",
    "Port of Registry",
    "Home Port",
    "Ice Class",
    "DoC issue date",
    "DoC expiry date",
    "Verifier Number",
    "Verifier Name",
    "Verifier NAB",
    "Verifier Address",
    "Verifier City",
    "Verifier Accreditation number",
    "Verifier Country",
    "A",
    "B",
    "C",
    "D"
]

In [54]:
float_columns = [col for col in df.columns if col not in string_columns]

In [55]:
upper_case_columns = ["Name", "Port of Registry", "Home Port", "Verifier Name", "Verifier NAB","Verifier Address", "Verifier City", "Verifier Country"]

In [56]:
date_columns = ["DoC issue date","DoC expiry date"]

In [57]:
def clean_numerical_data(value: Union[str, int, float]) -> float:
    if value == "Division by zero!":
        return np.nan
    if isinstance(value, str):
        return np.nan
    return round(float(value), 2)

In [58]:
def make_upper_case(value: Union[str, float]) -> str:
    if isinstance(value, str):
        return value.upper()
    return value

In [59]:
def extract_technical_efficiency(technical_efficiency: Union[str, float]) -> float:
    
    if technical_efficiency == "Not Applicable":
        return np.nan
    
    if isinstance(technical_efficiency, str):
        try:
            extracted_value = re.findall(r"\d*\.?\d+", technical_efficiency)[0]
            return round(float(extracted_value), 2)
        except IndexError:
            return np.nan

In [60]:
def convert_date(date: str) -> str:
    if date == "DoC not issued":
        return np.nan

    date_object = datetime.strptime(date, "%d/%m/%Y").date()
    date_string = datetime.strftime(date_object, "%Y-%m-%d")
    
    return date_string

In [61]:
def clean_column(column: str):
    column = re.sub(r"[^a-zA-Z]+", "_", column) 
    column = re.sub(r"_{2,}", "", column)
    column = re.sub(r"_$", "",column)
    return column.lower()

In [62]:
df[float_columns] = df[float_columns].applymap(clean_numerical_data)

In [63]:
df[upper_case_columns] = df[upper_case_columns].applymap(make_upper_case)

In [64]:
df["Technical efficiency"] = df["Technical efficiency"].apply(extract_technical_efficiency)

In [65]:
df[date_columns] = df[date_columns].applymap(convert_date)

In [66]:
df["Reporting Period"] = df["Reporting Period"].apply(lambda x: int(x))

In [67]:
columns_clean = [clean_column(col) for col in df.columns]

In [68]:
df.columns = columns_clean

In [69]:
df.head()

,imo_number,name,ship_type,reporting_period,technical_efficiency,port_of_registry,home_port,ice_class,doc_issue_date,doc_expiry_date,verifier_number,verifier_name,verifier_nab,verifier_address,verifier_city,verifier_accreditation_number,verifier_country,a,b,c,d,total_fuel_consumption_m_tonnes,fuel_consumptions_assigned_to_on_laden_m_tonnes,total_co_emissions_m_tonnes,co_emissions_from_all_voyages_between_ports_under_a_ms_jurisdiction_m_tonnes,co_emissions_from_all_voyages_which_departed_from_ports_under_a_ms_jurisdiction_m_tonnes,co_emissions_from_all_voyages_to_ports_under_a_ms_jurisdiction_m_tonnes,co_emissions_which_occurred_within_ports_under_a_ms_jurisdiction_at_berth_m_tonnes,co_emissions_assigned_to_passenger_transport_m_tonnes,co_emissions_assigned_to_freight_transport_m_tonnes,co_emissions_assigned_to_on_laden_m_tonnes,annual_total_time_spent_at_sea_hours,annual_average_fuel_consumption_per_distance_kg_n_mile,annual_average_fuel_consumption_per_transport_work_mass_g_m_tonnes_n_miles,annual_average_fuel_consumption_per_transport_work_volume_g_m_n_miles,annual_average_fuel_consumption_per_transport_work_dwt_g_dwt_carried_n_miles,annual_average_fuel_consumption_per_transport_work_pax_g_pax_n_miles,annual_average_fuel_consumption_per_transport_work_freight_g_m_tonnes_n_miles,annual_average_co_emissions_per_distance_kg_co_n_mile,annual_average_co_emissions_per_transport_work_mass_g_co_m_tonnes_n_miles,annual_average_co_emissions_per_transport_work_volume_g_co_m_n_miles,annual_average_co_emissions_per_transport_work_dwt_g_co_dwt_carried_n_miles,annual_average_co_emissions_per_transport_work_pax_g_co_pax_n_miles,annual_average_co_emissions_per_transport_work_freight_g_co_m_tonnes_n_miles,through_ice_n_miles,total_time_spent_at_sea_hours,total_time_spent_at_sea_through_ice_hours,fuel_consumption_per_distance_on_laden_voyages_kg_n_mile,fuel_consumption_per_transport_work_mass_on_laden_voyages_g_m_tonnes_n_miles,fuel_consumption_per_transport_work_volume_on_laden_voyages_g_m_n_miles,fuel_consumption_per_transport_work_dwt_on_laden_voyages_g_dwt_carried_n_miles,fuel_consumption_per_transport_work_pax_on_laden_voyages_g_pax_n_miles,fuel_consumption_per_transport_work_freight_on_laden_voyages_g_m_tonnes_n_miles,co_emissions_per_distance_on_laden_voyages_kg_co_n_mile,co_emissions_per_transport_work_mass_on_laden_voyages_g_co_m_tonnes_n_miles,co_emissions_per_transport_work_volume_on_laden_voyages_g_co_m_n_miles,co_emissions_per_transport_work_dwt_on_laden_voyages_g_co_dwt_carried_n_miles,co_emissions_per_transport_work_pax_on_laden_voyages_g_co_pax_n_miles,co_emissions_per_transport_work_freight_on_laden_voyages_g_co_m_tonnes_n_miles,additional_information_to_facilitate_the_understanding_of_the_reported_average_operational_energy_efficiency_indicators,average_density_of_the_cargo_transported_m_tonnes_m
0,6602898,OCEAN MAJESTY,Passenger ship,2020,31.73,MADEIRA,NaN,NaN,2021-07-01,2022-06-30,NaN,BUREAU VERITAS CERTIFICATION FRANCE,COFRAC,"LE TRIANGLE DE L'ARCHE\n9, COURS DU TRIANGLE",92937 PARIS LA DEFENSE,4-0076,FRANCE,Yes,NaN,NaN,NaN,951.37,NaN,2985.13,1505.53,267.50,367.12,844.98,NaN,NaN,NaN,488.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,488.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6703343,EQUALITY,Other ship types,2020,57.84,BEIRUT,NaN,NaN,2021-06-30,2022-06-30,NaN,DROMON BUREAU OF SHIPPING,HELLENIC ACCREDITATION SYSTEM,"2-4 IAKOVOU DRAGATSI STREET, 18535",PIRAEUS,1128,GREECE,Yes,NaN,NaN,NaN,225.70,NaN,706.78,0.00,401.05,286.49,19.24,NaN,NaN,NaN,603.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,603.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7037806,IONIAN STAR,Ro-pax ship,2020,19.40,NaN,NaN,NaN,2021-03-31,2022-06-30,NaN,VERIFAVIA SARL,COFRAC,33 AVENUE DU MAINE,PARIS,4-0596,FRANCE,Yes,NaN,NaN,NaN,1543.32,NaN,4947.88,3713.13,0.00,0.00,1234.60,2968.88,1979.0,NaN,995.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,995.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7043843,TALOS,Ro-ro ship,2020,48.71,PIRAEUS,PIRAEUS,NaN,2021-06-16,2022-06-30,NaN,VERIFAVIA SARL,COFRAC,33 AVENUE DU MAINE,PARIS,4-0596,FRANCE,Yes,NaN,Yes,NaN,2625.33,NaN,8416.81,7966.37,0.00,0.00,450.44,NaN,NaN,NaN,3109.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3109.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7128332,SEA WIND,Ro-pax ship,2020,9.29,TALLINN,TALLINN,IB,2021-04-26,2022-06-30,NaN,VERIFAVIA SARL,COFRAC,33 AVENUE DU MAINE,PARIS,4-0596,FRANCE,Yes,NaN,NaN,NaN,4152.78,NaN,13137.92,11259.78,0.00,0.00,1836.65,2911.80,8348.0,NaN,3619.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3619.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Convert DataFrame to JSON

In [70]:
input_dataframe = df.loc[0]

In [71]:
data_dict = json.loads(input_dataframe.to_json())

In [72]:
data_dict

{'imo_number': 6602898,
 'name': 'OCEAN MAJESTY',
 'ship_type': 'Passenger ship',
 'reporting_period': 2020,
 'technical_efficiency': 31.73,
 'port_of_registry': 'MADEIRA',
 'home_port': None,
 'ice_class': None,
 'doc_issue_date': '2021-07-01',
 'doc_expiry_date': '2022-06-30',
 'verifier_number': None,
 'verifier_name': 'BUREAU VERITAS CERTIFICATION FRANCE',
 'verifier_nab': 'COFRAC',
 'verifier_address': "LE TRIANGLE DE L'ARCHE\n9, COURS DU TRIANGLE",
 'verifier_city': '92937 PARIS LA DEFENSE',
 'verifier_accreditation_number': '4-0076',
 'verifier_country': 'FRANCE',
 'a': 'Yes',
 'b': None,
 'c': None,
 'd': None,
 'total_fuel_consumption_m_tonnes': 951.37,
 'fuel_consumptions_assigned_to_on_laden_m_tonnes': None,
 'total_co_emissions_m_tonnes': 2985.13,
 'co_emissions_from_all_voyages_between_ports_under_a_ms_jurisdiction_m_tonnes': 1505.53,
 'co_emissions_from_all_voyages_which_departed_from_ports_under_a_ms_jurisdiction_m_tonnes': 267.5,
 'co_emissions_from_all_voyages_to_ports_under_a_ms_jurisdiction_m_tonnes': 367.12,
 'co_emissions_which_occurred_within_ports_under_a_ms_jurisdiction_at_berth_m_tonnes': 844.98,
 'co_emissions_assigned_to_passenger_transport_m_tonnes': None,
 'co_emissions_assigned_to_freight_transport_m_tonnes': None,
 'co_emissions_assigned_to_on_laden_m_tonnes': None,
 'annual_total_time_spent_at_sea_hours': 488.87,
 'annual_average_fuel_consumption_per_distance_kg_n_mile': None,
 'annual_average_fuel_consumption_per_transport_work_mass_g_m_tonnes_n_miles': None,
 'annual_average_fuel_consumption_per_transport_work_volume_g_m_n_miles': None,
 'annual_average_fuel_consumption_per_transport_work_dwt_g_dwt_carried_n_miles': None,
 'annual_average_fuel_consumption_per_transport_work_pax_g_pax_n_miles': None,
 'annual_average_fuel_consumption_per_transport_work_freight_g_m_tonnes_n_miles': None,
 'annual_average_co_emissions_per_distance_kg_co_n_mile': None,
 'annual_average_co_emissions_per_transport_work_mass_g_co_m_tonnes_n_miles': None,
 'annual_average_co_emissions_per_transport_work_volume_g_co_m_n_miles': None,
 'annual_average_co_emissions_per_transport_work_dwt_g_co_dwt_carried_n_miles': None,
 'annual_average_co_emissions_per_transport_work_pax_g_co_pax_n_miles': None,
 'annual_average_co_emissions_per_transport_work_freight_g_co_m_tonnes_n_miles': None,
 'through_ice_n_miles': None,
 'total_time_spent_at_sea_hours': 488.87,
 'total_time_spent_at_sea_through_ice_hours': None,
 'fuel_consumption_per_distance_on_laden_voyages_kg_n_mile': None,
 'fuel_consumption_per_transport_work_mass_on_laden_voyages_g_m_tonnes_n_miles': None,
 'fuel_consumption_per_transport_work_volume_on_laden_voyages_g_m_n_miles': None,
 'fuel_consumption_per_transport_work_dwt_on_laden_voyages_g_dwt_carried_n_miles': None,
 'fuel_consumption_per_transport_work_pax_on_laden_voyages_g_pax_n_miles': None,
 'fuel_consumption_per_transport_work_freight_on_laden_voyages_g_m_tonnes_n_miles': None,
 'co_emissions_per_distance_on_laden_voyages_kg_co_n_mile': None,
 'co_emissions_per_transport_work_mass_on_laden_voyages_g_co_m_tonnes_n_miles': None,
 'co_emissions_per_transport_work_volume_on_laden_voyages_g_co_m_n_miles': None,
 'co_emissions_per_transport_work_dwt_on_laden_voyages_g_co_dwt_carried_n_miles': None,
 'co_emissions_per_transport_work_pax_on_laden_voyages_g_co_pax_n_miles': None,
 'co_emissions_per_transport_work_freight_on_laden_voyages_g_co_m_tonnes_n_miles': None,
 'additional_information_to_facilitate_the_understanding_of_the_reported_average_operational_energy_efficiency_indicators': None,
 'average_density_of_the_cargo_transported_m_tonnes_m': None}