In [111]:
import re
import json
import os

from typing import Union
from datetime import datetime, date

In [84]:
df = pd.read_csv("data/raw_csv_files/eu_mrv_shipping_data_2018.csv")

In [85]:
pd.set_option('display.max_columns', None)

In [86]:
df.head()

,IMO Number,Name,Ship type,Reporting Period,Technical efficiency,Port of Registry,Home Port,Ice Class,DoC issue date,DoC expiry date,Verifier Number,Verifier Name,Verifier NAB,Verifier Address,Verifier City,Verifier Accreditation number,Verifier Country,A,B,C,D,Total fuel consumption [m tonnes],Fuel consumptions assigned to On laden [m tonnes],Total CO₂ emissions [m tonnes],CO₂ emissions from all voyages between ports under a MS jurisdiction [m tonnes],CO₂ emissions from all voyages which departed from ports under a MS jurisdiction [m tonnes],CO₂ emissions from all voyages to ports under a MS jurisdiction [m tonnes],CO₂ emissions which occurred within ports under a MS jurisdiction at berth [m tonnes],CO₂ emissions assigned to Passenger transport [m tonnes],CO₂ emissions assigned to Freight transport [m tonnes],CO₂ emissions assigned to On laden [m tonnes],Annual Total time spent at sea [hours],Annual average Fuel consumption per distance [kg / n mile],Annual average Fuel consumption per transport work (mass) [g / m tonnes · n miles],Annual average Fuel consumption per transport work (volume) [g / m³ · n miles],Annual average Fuel consumption per transport work (dwt) [g / dwt carried · n miles],Annual average Fuel consumption per transport work (pax) [g / pax · n miles],Annual average Fuel consumption per transport work (freight) [g / m tonnes · n miles],Annual average CO₂ emissions per distance [kg CO₂ / n mile],Annual average CO₂ emissions per transport work (mass) [g CO₂ / m tonnes · n miles],Annual average CO₂ emissions per transport work (volume) [g CO₂ / m³ · n miles],Annual average CO₂ emissions per transport work (dwt) [g CO₂ / dwt carried · n miles],Annual average CO₂ emissions per transport work (pax) [g CO₂ / pax · n miles],Annual average CO₂ emissions per transport work (freight) [g CO₂ / m tonnes · n miles],Through ice [n miles],Total time spent at sea [hours],Total time spent at sea through ice [hours],Fuel consumption per distance on laden voyages [kg / n mile],Fuel consumption per transport work (mass) on laden voyages [g / m tonnes · n miles],Fuel consumption per transport work (volume) on laden voyages [g / m³ · n miles],Fuel consumption per transport work (dwt) on laden voyages [g / dwt carried · n miles],Fuel consumption per transport work (pax) on laden voyages [g / pax · n miles],Fuel consumption per transport work (freight) on laden voyages [g / m tonnes · n miles],CO₂ emissions per distance on laden voyages [kg CO₂ / n mile],CO₂ emissions per transport work (mass) on laden voyages [g CO₂ / m tonnes · n miles],CO₂ emissions per transport work (volume) on laden voyages [g CO₂ / m³ · n miles],CO₂ emissions per transport work (dwt) on laden voyages [g CO₂ / dwt carried · n miles],CO₂ emissions per transport work (pax) on laden voyages [g CO₂ / pax · n miles],CO₂ emissions per transport work (freight) on laden voyages [g CO₂ / m tonnes · n miles],Additional information to facilitate the understanding of the reported average operational energy efficiency indicators,Average density of the cargo transported [m tonnes / m³]
0,5383304,ASTORIA,Passenger ship,2018,Not Applicable,NaN,NaN,NaN,05/02/2019,30/06/2020,NaN,ICS Verification Services Single Member P.C.,Hellenic Accreditation System (ESYD),"55 Filonos Str.\n185 35 Piraeus, Greece",Piraeus,1101,Greece,Yes,NaN,NaN,NaN,6307.75,NaN,20080.25,16035.42,728.59,974.78,2341.47,NaN,NaN,NaN,4170.20,139.07,NaN,NaN,NaN,311.97,NaN,442.71,NaN,NaN,NaN,993.14,NaN,NaN,4170.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6417097,MARCO POLO,Passenger ship,2018,Not Applicable,NaN,NaN,IC,05/02/2019,30/06/2020,NaN,ICS Verification Services Single Member P.C.,Hellenic Accreditation System (ESYD),"55 Filonos Str.\n185 35 Piraeus, Greece",Piraeus,1101,Greece,Yes,NaN,NaN,NaN,8125.56,NaN,25689.03,18028.86,3161.92,2155.09,2343.16,NaN,NaN,NaN,4360.57,143.81,NaN,NaN,NaN,202.42,NaN,454.65,NaN,NaN,NaN,639.96,NaN,NaN,4360.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6511128,RED STAR 1,Ro-pax ship,2018,EIV (45.57 gCO₂/t·nm),NaN,NaN,NaN,30/04/2019,30/06/2020,NaN,VERIFAVIA (UK) LTD,UKAS,20-22 Wenlock Road,London,4599,United Kingdom,Yes,NaN,NaN,NaN,2205.37,NaN,6941.34,380.99,2905.22,2893.35,761.75,4368.91,2572.43,NaN,2712.00,54.43,NaN,NaN,NaN,0.66,0.81,171.31,NaN,NaN,NaN,2.07,2.6,NaN,2712.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6602898,OCEAN MAJESTY,Passenger ship,2018,EIV (31.73 gCO₂/t·nm),Madeira,NaN,NaN,06/05/2019,30/06/2020,NaN,Bureau Veritas Certification France,COFRAC,"Le Triangle de l'Arche\n9, cours du Triangle",92937 PARIS LA DEFENSE,4-0076,France,Yes,NaN,NaN,NaN,6151.40,NaN,19478.27,14233.60,982.50,1374.10,2887.16,NaN,NaN,NaN,4286.21,120.93,NaN,NaN,NaN,355.05,NaN,382.91,NaN,NaN,NaN,1124.27,NaN,NaN,4286.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6703343,EQUALITY,Other ship types,2018,Not Applicable,Beirut,NaN,NaN,30/06/2019,30/06/2020,NaN,Dromon Bureau of Shipping,Hellenic Accreditation System,"2-4 Iakovou Dragatsi street, 18535",Piraeus,1128,Greece,Yes,NaN,NaN,NaN,549.00,NaN,1724.63,0.00,938.13,753.25,33.25,NaN,NaN,NaN,1008.00,63.46,91.14,NaN,Division by zero!,NaN,NaN,199.36,286.3,NaN,Division by zero!,NaN,NaN,NaN,1008.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
df.applymap(type).apply(pd.value_counts).fillna(0)

,IMO Number,Name,Ship type,Reporting Period,Technical efficiency,Port of Registry,Home Port,Ice Class,DoC issue date,DoC expiry date,Verifier Number,Verifier Name,Verifier NAB,Verifier Address,Verifier City,Verifier Accreditation number,Verifier Country,A,B,C,D,Total fuel consumption [m tonnes],Fuel consumptions assigned to On laden [m tonnes],Total CO₂ emissions [m tonnes],CO₂ emissions from all voyages between ports under a MS jurisdiction [m tonnes],CO₂ emissions from all voyages which departed from ports under a MS jurisdiction [m tonnes],CO₂ emissions from all voyages to ports under a MS jurisdiction [m tonnes],CO₂ emissions which occurred within ports under a MS jurisdiction at berth [m tonnes],CO₂ emissions assigned to Passenger transport [m tonnes],CO₂ emissions assigned to Freight transport [m tonnes],CO₂ emissions assigned to On laden [m tonnes],Annual Total time spent at sea [hours],Annual average Fuel consumption per distance [kg / n mile],Annual average Fuel consumption per transport work (mass) [g / m tonnes · n miles],Annual average Fuel consumption per transport work (volume) [g / m³ · n miles],Annual average Fuel consumption per transport work (dwt) [g / dwt carried · n miles],Annual average Fuel consumption per transport work (pax) [g / pax · n miles],Annual average Fuel consumption per transport work (freight) [g / m tonnes · n miles],Annual average CO₂ emissions per distance [kg CO₂ / n mile],Annual average CO₂ emissions per transport work (mass) [g CO₂ / m tonnes · n miles],Annual average CO₂ emissions per transport work (volume) [g CO₂ / m³ · n miles],Annual average CO₂ emissions per transport work (dwt) [g CO₂ / dwt carried · n miles],Annual average CO₂ emissions per transport work (pax) [g CO₂ / pax · n miles],Annual average CO₂ emissions per transport work (freight) [g CO₂ / m tonnes · n miles],Through ice [n miles],Total time spent at sea [hours],Total time spent at sea through ice [hours],Fuel consumption per distance on laden voyages [kg / n mile],Fuel consumption per transport work (mass) on laden voyages [g / m tonnes · n miles],Fuel consumption per transport work (volume) on laden voyages [g / m³ · n miles],Fuel consumption per transport work (dwt) on laden voyages [g / dwt carried · n miles],Fuel consumption per transport work (pax) on laden voyages [g / pax · n miles],Fuel consumption per transport work (freight) on laden voyages [g / m tonnes · n miles],CO₂ emissions per distance on laden voyages [kg CO₂ / n mile],CO₂ emissions per transport work (mass) on laden voyages [g CO₂ / m tonnes · n miles],CO₂ emissions per transport work (volume) on laden voyages [g CO₂ / m³ · n miles],CO₂ emissions per transport work (dwt) on laden voyages [g CO₂ / dwt carried · n miles],CO₂ emissions per transport work (pax) on laden voyages [g CO₂ / pax · n miles],CO₂ emissions per transport work (freight) on laden voyages [g CO₂ / m tonnes · n miles],Additional information to facilitate the understanding of the reported average operational energy efficiency indicators,Average density of the cargo transported [m tonnes / m³]
<class 'int'>,12237.0,0.0,0.0,12237.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
<class 'str'>,0.0,12237.0,12237.0,0.0,10707.0,10530.0,2103.0,2019.0,12237.0,12237.0,3508.0,12237.0,12237.0,12237.0,12237.0,12237.0,12237.0,5201.0,3851.0,3855.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12237.0,11091.0,283.0,1404.0,536.0,360.0,12237.0,11091.0,283.0,1404.0,536.0,360.0,0.0,0.0,0.0,1296.0,1236.0,49.0,131.0,0.0,0.0,1296.0,1236.0,49.0,131.0,0.0,0.0,50.0,0.0
<class 'float'>,0.0,0.0,0.0,0.0,1530.0,1707.0,10134.0,10218.0,0.0,0.0,8729.0,0.0,0.0,0.0,0.0,0.0,0.0,7036.0,8386.0,8382.0,12237.0,12237.0,12237.0,12237.0,12237.0,12237.0,12237.0,12237.0,12237.0,12237.0,12237.0,12237.0,0.0,1146.0,11954.0,10833.0,11701.0,11877.0,0.0,1146.0,11954.0,10833.0,11701.0,11877.0,12237.0,12237.0,12237.0,10941.0,11001.0,12188.0,12106.0,12237.0,12237.0,10941.0,11001.0,12188.0,12106.0,12237.0,12237.0,12187.0,12237.0

In [88]:
for col in df.columns:
    print(df[col].value_counts())

5383304    1
9550345    1
9548835    1
9549035    1
9549267    1
          ..
9333395    1
9333400    1
9333424    1
9333436    1
9848467    1
Name: IMO Number, Length: 12237, dtype: int64
MARIA                    5
ASTORIA                  4
AROSA                    3
AURELIA                  3
SKYROS                   3
                        ..
CMA CGM CHATEAU D' IF    1
CHEMBULK MINNEAPOLIS     1
BLUE ROSE                1
APHRODITE LEADER         1
ALF POLLAK               1
Name: Name, Length: 12039, dtype: int64
Bulk carrier                  3835
Oil tanker                    1907
Container ship                1808
Chemical tanker               1364
General cargo ship            1174
Vehicle carrier                448
Ro-pax ship                    376
Gas carrier                    321
Ro-ro ship                     272
LNG carrier                    213
Passenger ship                 159
Refrigerated cargo carrier     145
Other ship types               126
Container/ro-ro cargo ship      79
Combination carrier             10
Name: Ship type, dtype: int64
2018    12237
Name: Reporting Period, dtype: int64
Not Applicable           1788
0 gCO₂/t·nm                58
EIV (21.68 gCO₂/t·nm)      36
EIV (3.89 gCO₂/t·nm)       30
EIV (5.9 gCO₂/t·nm)        29
                         ...
EIV (13.51 gCO₂/t·nm)       1
EIV (34.61 gCO₂/t·nm)       1
EIV (34.65 gCO₂/t·nm)       1
EIV (35.27 gCO₂/t·nm)       1
EIV (9.16 gCO₂/t·nm)        1
Name: Technical efficiency, Length: 2816, dtype: int64
Majuro      1176
Monrovia    1164
Valletta     773
Panama       673
PANAMA       634
            ...
Skärhamn       1
bergen         1
Nyborg         1
Nibe           1
Alofi          1
Name: Port of Registry, Length: 477, dtype: int64
Monrovia          277
Majuro            181
Singapore         151
Valletta          142
Panama            119
                 ...
Fujairah (UAE)      1
SANDNES             1
Izmir               1
Majoro              1
Klaipeda            1
Name: Home Port, Length: 234, dtype: int64
IA           1061
IC            536
IB            208
IA Supper     120
PC1            45
PC7            18
PC3            12
PC2             9
PC4             6
PC6             2
PC5             2
Name: Ice Class, dtype: int64
30/04/2019    1069
24/04/2019     800
26/04/2019     718
29/04/2019     633
23/04/2019     603
              ...
07/08/2021       1
02/08/2019       1
10/03/2020       1
02/12/2019       1
27/05/2020       1
Name: DoC issue date, Length: 333, dtype: int64
30/06/2020        12219
DoC not issued       18
Name: DoC expiry date, dtype: int64
1083          2166
001           1017
541            302
PL-VG-0013       9
10296            7
V 107            7
Name: Verifier Number, dtype: int64
DNV GL                                                                                                  2767
AMERICAN BUREAU OF SHIPPING HELLENIC SINGLE MEMBER LIMITED LIABILITY COMPANY (ABS HELLENIC S.M. LTD)    2166
Lloyd's Register Quality Assurance Ltd                                                                  1448
VERIFAVIA (UK) LTD                                                                                      1362
Nippon Kaiji Kyokai                                                                                     1017
Bureau Veritas Certification France                                                                      931
RINA Services Spa                                                                                        926
EMICERT                                                                                                  459
CHINA CLASSIFICATION SOCIETY                                                                             302
Korean Register                                                                                          270
Dromon Bureau of Shipping                                                                                132
EnvService GmbH                                                                                          119
ICS Verification Services Single Member P.C.                                                             105
Swiss Climate EcoCare GmbH                                                                                83
SGS United Kingdom Ltd                                                                                    70
VERIFAVIA SARL                                                                                            27
CROATIAN REGISTER OF SHIPPING                                                                             16
Polish Register of Shipping                                                                                9
Indian Register of Shipping                                                                                7
PricewaterhouseCoopers S.A.                                                                                7
MRVControl AB                                                                                              7
EUROCERT S.A                                                                                               4
Tecnoveritas                                                                                               3
Name: Verifier Name, dtype: int64
UKAS                                             2880
German national accreditation body (DAkkS)       2767
Hellenic Accreditation System (ESYD)             2278
Deutsche Akkredierungsstelle GmbH                1017
COFRAC                                            958
ACCREDIA                                          926
HELLENIC ACCREDITATION SYSTEM (ESYD)              459
Denmark National Accreditation Body (DANAK)       302
DAkkS                                             270
Deutsche Akkreditierungsstelle GmbH               202
Hellenic Accreditation System                     132
Croatian Accreditation Agency                      16
PCA Polskie Centrum Akredytacji                     9
SWEDAC                                              7
Dutch Accreditation Council RvA                     7
HELLENIC ACCREDITATION SYSTEM                       4
Portuguese Institute for Accreditation (IPAC)       3
Name: Verifier NAB, dtype: int64
Brooktorkai 18                                                                         2767
1 Sachtouri & 1 Navarinou Street                                                       2166
LRQA Centre\n1 Trinity Park\nBickenhill Lane\nBirmingham\nB37 7ES                      1448
20-22 Wenlock Road                                                                     1362
Nippon Kaiji Kyokai, 4-7, Kioi-Cho, Chiyoda-Ku, Tokyo 102-8567, Japan                  1017
Le Triangle de l'Arche\n9, cours du Triangle                                            931
Via Corsica 12                                                                          926
9, KAREA str                                                                            459
CCS Mansion 9 DONGZHIMEN NAN DA JIE                                                     302
36, Myeongji ocean city 9-ro, Gangseo gu,\n\nBusan, 618-814, Republic of Korea          270
2-4 Iakovou Dragatsi street, 18535                                                      132
Buchenring 14                                                                           119
55 Filonos Str.\n185 35 Piraeus, Greece                                                 105
Steinhöft 11, 20459 Hamburg                                                              83
Inward Way, Rossmore Business Park, Ellesmere Port, CH65 3EN                             70
33 Avenue du Maine                                                                       27
Marasoviceva 67                                                                          16
al.gen.J.Hallera 126                                                                      9
52 A, Adi Shankaracharya Marg,\nOpposite Powai Lake, Powai, Mumbai - 400072, INDIA.       7
268 Kifissias Avenue, Halandri 15232                                                      7
Husängsvägen 4                                                                            7
CHLOIS 89 AND LYKOVRISEOS, 14452 METAMORFOSIS                                             4
Av. Dr. Francisco Sá Carneiro, NEM, Pav. 36-A                                             3
Name: Verifier Address, dtype: int64
20457 Hamburg             2767
Kallithea                 2166
BIRMINGHAM                1448
London                    1362
Tokyo                     1017
92937 PARIS LA DEFENSE     931
Genova                     926
ATHENS                     463
Beijing                    302
Busan                      270
Piraeus                    237
21272 Egestorf             119
Hamburg                     83
Cheshire                    70
Paris                       27
21000 SPLIT                 16
Gdańsk                       9
Mumbai                       7
47492 Ellös                  7
Athens                       7
Mafra                        3
Name: Verifier City, dtype: int64
D-VS-16026-01-00    2767
1083                2166
0001                1448
4599                1362
VS-21325-01         1017
4-0076               931
002O                 926
874-4                459
7508                 302
D-VS-20824-01-00     270
1128                 132
D-VS-20809-01-00     119
1101                 105
D-VS-20810-01         83
0005                  70
4-0596                27
9568                  16
PL-VG-0013             9
V 107                  7
1104                   7
10296                  7
875-3                  4
H0005                  3
Name: Verifier Accreditation number, dtype: int64
Germany               2969
United Kingdom        2880
Greece                2873
Japan                 1017
France                 958
Italy                  926
China                  302
Korea, Republic of     270
Croatia                 16
Poland                   9
Sweden                   7
India                    7
Portugal                 3
Name: Verifier Country, dtype: int64
Yes    5201
Name: A, dtype: int64
Yes    3851
Name: B, dtype: int64
Yes    3855
Name: C, dtype: int64
Series([], Name: D, dtype: int64)
0.00       638
2475.00      3
2234.80      3
1390.70      2
4099.00      2
          ...
3302.04      1
820.10       1
1554.50      1
6517.99      1
116.33       1
Name: Total fuel consumption [m tonnes], Length: 11386, dtype: int64
0.00        4
870.95      2
5234.00     2
1759.00     2
2707.49     1
           ..
16355.37    1
16586.13    1
3440.78     1
699.93      1
116.33      1
Name: Fuel consumptions assigned to On laden [m tonnes], Length: 1288, dtype: int64
0.00        638
2813.13       2
6649.83       2
7832.67       2
7181.51       2
           ...
15863.21      1
10287.16      1
2560.40       1
4856.81       1
362.35        1
Name: Total CO₂ emissions [m tonnes], Length: 11563, dtype: int64
0.00       3195
1502.58      10
18.92         5
551.00        3
195.25        3
           ...
4954.85       1
9648.68       1
740.60        1
854.48        1
354.11        1
Name: CO₂ emissions from all voyages between ports under a MS jurisdiction [m tonnes], Length: 8815, dtype: int64
0.00       1771
0.01          5
1740.00       3
0.10          3
1023.00       3
           ...
3674.70       1
1900.87       1
771.02        1
7768.37       1
265.55        1
Name: CO₂ emissions from all voyages which departed from ports under a MS jurisdiction [m tonnes], Length: 10346, dtype: int64
0.00       1699
394.00        4
0.10          3
3232.00       3
315.00        3
           ...
1984.06       1
3206.81       1
6179.08       1
223.74        1
362.35        1
Name: CO₂ emissions from all voyages to ports under a MS jurisdiction [m tonnes], Length: 10388, dtype: int64
0.00       852
54.50        8
165.00       7
39.00        7
108.04       6
          ...
1433.27      1
687.00       1
572.59       1
831.62       1
35.59        1
Name: CO₂ emissions which occurred within ports under a MS jurisdiction at berth [m tonnes], Length: 10062, dtype: int64
4368.91     1
18791.18    1
40663.35    1
1295.11     1
6841.48     1
           ..
2740.29     1
17087.07    1
2818.23     1
4550.30     1
2803.33     1
Name: CO₂ emissions assigned to Passenger transport [m tonnes], Length: 370, dtype: int64
0.00        2
2572.43     1
3569.60     1
25686.12    1
6841.48     1
           ..
8815.83     1
15528.42    1
17311.94    1
17987.12    1
2727.66     1
Name: CO₂ emissions assigned to Freight transport [m tonnes], Length: 353, dtype: int64
0.00        4
2191.32     2
2230.90     2
7774.75     1
4091.72     1
           ..
48968.38    1
44807.39    1
51223.53    1
52025.53    1
362.35      1
Name: CO₂ emissions assigned to On laden [m tonnes], Length: 1291, dtype: int64
0.00       643
1142.00      4
2860.00      4
653.00       4
694.00       4
          ...
4853.00      1
2260.00      1
1627.70      1
4303.50      1
47.34        1
Name: Annual Total time spent at sea [hours], Length: 11036, dtype: int64
Division by zero!    640
99.17                  6
91.09                  6
94.57                  6
88.31                  6
                    ...
408.63                 1
211.82                 1
216.11                 1
212.68                 1
734.29                 1
Name: Annual average Fuel consumption per distance [kg / n mile], Length: 8441, dtype: int64
Division by zero!    1101
2.42                   33
2.59                   32
3.04                   31
2.39                   31
                     ...
24.05                   1
16.37                   1
10.67                   1
28.68                   1
87.82                   1
Name: Annual average Fuel consumption per transport work (mass) [g / m tonnes · n miles], Length: 2658, dtype: int64
Division by zero!    5
4.03                 4
3.73                 4
3.38                 3
2.27                 3
                    ..
4.68                 1
4.49                 1
4.6                  1
3.51                 1
26.82                1
Name: Annual average Fuel consumption per transport work (volume) [g / m³ · n miles], Length: 223, dtype: int64
Division by zero!    252
5.76                   7
6.9                    6
7.12                   5
8.01                   5
                    ...
5.69                   1
5.56                   1
6.69                   1
0.19                   1
2.5                    1
Name: Annual average Fuel consumption per transport work (dwt) [g / dwt carried · n miles], Length: 860, dtype: int64
Division by zero!    11
0.73                  3
0                     2
0.91                  2
494.98                2
                     ..
0.12                  1
101.34                1
85.22                 1
160.54                1
556.64                1
Name: Annual average Fuel consumption per transport work (pax) [g / pax · n miles], Length: 518, dtype: int64
0                    21
Division by zero!     8
0.08                  3
0.52                  3
1.25                  2
                     ..
37.5                  1
18.95                 1
34.49                 1
150.06                1
16.94                 1
Name: Annual average Fuel consumption per transport work (freight) [g / m tonnes · n miles], Length: 321, dtype: int64
Division by zero!    640
344.9                  5
349.02                 4
300.26                 4
336.61                 4
                    ...
302.1                  1
763.96                 1
860.27                 1
337.02                 1
2294.47                1
Name: Annual average CO₂ emissions per distance [kg CO₂ / n mile], Length: 10315, dtype: int64
Division by zero!    1101
8.03                   15
8.67                   14
7.09                   13
8                      13
                     ...
28.9                    1
30.61                   1
87.87                   1
42.79                   1
273.55                  1
Name: Annual average CO₂ emissions per transport work (mass) [g CO₂ / m tonnes · n miles], Length: 4462, dtype: int64
Division by zero!    5
10.11                2
13.1                 2
11.39                2
6.59                 2
                    ..
9.09                 1
1376.51              1
12.74                1
11.09                1
12.66                1
Name: Annual average CO₂ emissions per transport work (volume) [g CO₂ / m³ · n miles], Length: 265, dtype: int64
Division by zero!    252
19.92                  4
25.27                  3
18.78                  3
34.42                  3
                    ...
22.82                  1
19.62                  1
26.08                  1
57.72                  1
7.78                   1
Name: Annual average CO₂ emissions per transport work (dwt) [g CO₂ / dwt carried · n miles], Length: 1044, dtype: int64
Division by zero!    11
0                     2
1088.47               1
428.39                1
482.14                1
                     ..
316.1                 1
265.38                1
503.82                1
660.36                1
1749.37               1
Name: Annual average CO₂ emissions per transport work (pax) [g CO₂ / pax · n miles], Length: 525, dtype: int64
0                    21
Division by zero!     8
74.83                 2
2.74                  2
0.42                  2
                     ..
201.49                1
199.18                1
7087.55               1
118.34                1
54.3                  1
Name: Annual average CO₂ emissions per transport work (freight) [g CO₂ / m tonnes · n miles], Length: 326, dtype: int64
0.0       554
36.6        1
219.0       1
2254.0      1
1013.0      1
594.0       1
115.0       1
2339.0      1
384.9       1
1068.7      1
1008.0      1
0.3         1
403.7       1
896.7       1
106.0       1
207.7       1
64.0        1
321.6       1
649.0       1
Name: Through ice [n miles], dtype: int64
0.00       643
1142.00      4
2860.00      4
653.00       4
694.00       4
          ...
4853.00      1
2260.00      1
1627.70      1
4303.50      1
47.34        1
Name: Total time spent at sea [hours], Length: 11036, dtype: int64
0.00      554
3.20        1
18.00       1
223.64      1
106.45      1
48.08       1
14.00       1
248.50      1
43.00       1
82.12       1
117.60      1
1.00        1
47.19       1
47.41       1
14.20       1
22.10       1
4.00        1
32.75       1
61.15       1
Name: Total time spent at sea through ice [hours], dtype: int64
Division by zero!    515
42.09                  2
57.43                  2
64.38                  2
112.08                 2
                    ...
202.52                 1
129.94                 1
145.48                 1
126.76                 1
37.45                  1
Name: Fuel consumption per distance on laden voyages [kg / n mile], Length: 776, dtype: int64
Division by zero!    72
2.73                  7
3.05                  6
2.37                  6
2.63                  6
                     ..
7.86                  1
15.77                 1
6.88                  1
2.23                  1
87.82                 1
Name: Fuel consumption per transport work (mass) on laden voyages [g / m tonnes · n miles], Length: 691, dtype: int64
1.79                 3
2.46                 2
2.65                 2
1.82                 2
1.69                 2
2.07                 1
1.56                 1
1.63                 1
2.04                 1
1.87                 1
3.18                 1
1.65                 1
1.64                 1
2.08                 1
1.75                 1
1.74                 1
1.66                 1
1.73                 1
3.68                 1
1.12                 1
12.69                1
1.49                 1
2.06                 1
1.7                  1
0.95                 1
2.66                 1
2.42                 1
3.81                 1
4.18                 1
4.83                 1
3.16                 1
2.15                 1

In [89]:
string_columns = [
    "IMO Number",
    "Name",
    "Ship type",
    "Reporting Period",
    "Technical efficiency",
    "Port of Registry",
    "Home Port",
    "Ice Class",
    "DoC issue date",
    "DoC expiry date",
    "Verifier Number",
    "Verifier Name",
    "Verifier NAB",
    "Verifier Address",
    "Verifier City",
    "Verifier Accreditation number",
    "Verifier Country",
    "A",
    "B",
    "C",
    "D"
]

In [90]:
float_columns = [col for col in df.columns if col not in string_columns]

In [91]:
upper_case_columns = ["Name", "Port of Registry", "Home Port", "Verifier Name", "Verifier NAB","Verifier Address", "Verifier City", "Verifier Country"]

In [92]:
date_columns = ["DoC issue date","DoC expiry date"]

In [93]:
def clean_numerical_data(value: Union[str, int, float]) -> float:
    if value == "Division by zero!":
        return np.nan
    if isinstance(value, str):
        return np.nan
    return round(float(value), 2)

In [94]:
def make_upper_case(value: Union[str, float]) -> str:
    if isinstance(value, str):
        return value.upper()
    return value

In [95]:
def extract_technical_efficiency(technical_efficiency: Union[str, float]) -> float:
    
    if technical_efficiency == "Not Applicable":
        return np.nan
    
    if isinstance(technical_efficiency, str):
        try:
            extracted_value = re.findall(r"\d*\.?\d+", technical_efficiency)[0]
            return round(float(extracted_value), 2)
        except IndexError:
            return np.nan

In [96]:
def convert_date(date: str) -> str:
    if date == "DoC not issued":
        return np.nan

    date_object = datetime.strptime(date, "%d/%m/%Y").date()
    date_string = datetime.strftime(date_object, "%Y-%m-%d")
    
    return date_string

In [97]:
def clean_column(column: str):
    column = re.sub(r"[^a-zA-Z]+", "_", column) 
    column = re.sub(r"_{2,}", "", column)
    column = re.sub(r"_$", "",column)
    return column.lower()

In [98]:
df[float_columns] = df[float_columns].applymap(clean_numerical_data)

In [99]:
df[upper_case_columns] = df[upper_case_columns].applymap(make_upper_case)

In [100]:
df["Technical efficiency"] = df["Technical efficiency"].apply(extract_technical_efficiency)

In [101]:
df[date_columns] = df[date_columns].applymap(convert_date)

In [102]:
df["Reporting Period"] = df["Reporting Period"].apply(int)

In [103]:
columns_clean = [clean_column(col) for col in df.columns]

In [104]:
df.columns = columns_clean

In [105]:
df.head()

,imo_number,name,ship_type,reporting_period,technical_efficiency,port_of_registry,home_port,ice_class,doc_issue_date,doc_expiry_date,verifier_number,verifier_name,verifier_nab,verifier_address,verifier_city,verifier_accreditation_number,verifier_country,a,b,c,d,total_fuel_consumption_m_tonnes,fuel_consumptions_assigned_to_on_laden_m_tonnes,total_co_emissions_m_tonnes,co_emissions_from_all_voyages_between_ports_under_a_ms_jurisdiction_m_tonnes,co_emissions_from_all_voyages_which_departed_from_ports_under_a_ms_jurisdiction_m_tonnes,co_emissions_from_all_voyages_to_ports_under_a_ms_jurisdiction_m_tonnes,co_emissions_which_occurred_within_ports_under_a_ms_jurisdiction_at_berth_m_tonnes,co_emissions_assigned_to_passenger_transport_m_tonnes,co_emissions_assigned_to_freight_transport_m_tonnes,co_emissions_assigned_to_on_laden_m_tonnes,annual_total_time_spent_at_sea_hours,annual_average_fuel_consumption_per_distance_kg_n_mile,annual_average_fuel_consumption_per_transport_work_mass_g_m_tonnes_n_miles,annual_average_fuel_consumption_per_transport_work_volume_g_m_n_miles,annual_average_fuel_consumption_per_transport_work_dwt_g_dwt_carried_n_miles,annual_average_fuel_consumption_per_transport_work_pax_g_pax_n_miles,annual_average_fuel_consumption_per_transport_work_freight_g_m_tonnes_n_miles,annual_average_co_emissions_per_distance_kg_co_n_mile,annual_average_co_emissions_per_transport_work_mass_g_co_m_tonnes_n_miles,annual_average_co_emissions_per_transport_work_volume_g_co_m_n_miles,annual_average_co_emissions_per_transport_work_dwt_g_co_dwt_carried_n_miles,annual_average_co_emissions_per_transport_work_pax_g_co_pax_n_miles,annual_average_co_emissions_per_transport_work_freight_g_co_m_tonnes_n_miles,through_ice_n_miles,total_time_spent_at_sea_hours,total_time_spent_at_sea_through_ice_hours,fuel_consumption_per_distance_on_laden_voyages_kg_n_mile,fuel_consumption_per_transport_work_mass_on_laden_voyages_g_m_tonnes_n_miles,fuel_consumption_per_transport_work_volume_on_laden_voyages_g_m_n_miles,fuel_consumption_per_transport_work_dwt_on_laden_voyages_g_dwt_carried_n_miles,fuel_consumption_per_transport_work_pax_on_laden_voyages_g_pax_n_miles,fuel_consumption_per_transport_work_freight_on_laden_voyages_g_m_tonnes_n_miles,co_emissions_per_distance_on_laden_voyages_kg_co_n_mile,co_emissions_per_transport_work_mass_on_laden_voyages_g_co_m_tonnes_n_miles,co_emissions_per_transport_work_volume_on_laden_voyages_g_co_m_n_miles,co_emissions_per_transport_work_dwt_on_laden_voyages_g_co_dwt_carried_n_miles,co_emissions_per_transport_work_pax_on_laden_voyages_g_co_pax_n_miles,co_emissions_per_transport_work_freight_on_laden_voyages_g_co_m_tonnes_n_miles,additional_information_to_facilitate_the_understanding_of_the_reported_average_operational_energy_efficiency_indicators,average_density_of_the_cargo_transported_m_tonnes_m
0,5383304,ASTORIA,Passenger ship,2018,NaN,NaN,NaN,NaN,2019-02-05,2020-06-30,NaN,ICS VERIFICATION SERVICES SINGLE MEMBER P.C.,HELLENIC ACCREDITATION SYSTEM (ESYD),"55 FILONOS STR.\n185 35 PIRAEUS, GREECE",PIRAEUS,1101,GREECE,Yes,NaN,NaN,NaN,6307.75,NaN,20080.25,16035.42,728.59,974.78,2341.47,NaN,NaN,NaN,4170.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4170.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6417097,MARCO POLO,Passenger ship,2018,NaN,NaN,NaN,IC,2019-02-05,2020-06-30,NaN,ICS VERIFICATION SERVICES SINGLE MEMBER P.C.,HELLENIC ACCREDITATION SYSTEM (ESYD),"55 FILONOS STR.\n185 35 PIRAEUS, GREECE",PIRAEUS,1101,GREECE,Yes,NaN,NaN,NaN,8125.56,NaN,25689.03,18028.86,3161.92,2155.09,2343.16,NaN,NaN,NaN,4360.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4360.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6511128,RED STAR 1,Ro-pax ship,2018,45.57,NaN,NaN,NaN,2019-04-30,2020-06-30,NaN,VERIFAVIA (UK) LTD,UKAS,20-22 WENLOCK ROAD,LONDON,4599,UNITED KINGDOM,Yes,NaN,NaN,NaN,2205.37,NaN,6941.34,380.99,2905.22,2893.35,761.75,4368.91,2572.43,NaN,2712.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2712.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6602898,OCEAN MAJESTY,Passenger ship,2018,31.73,MADEIRA,NaN,NaN,2019-05-06,2020-06-30,NaN,BUREAU VERITAS CERTIFICATION FRANCE,COFRAC,"LE TRIANGLE DE L'ARCHE\n9, COURS DU TRIANGLE",92937 PARIS LA DEFENSE,4-0076,FRANCE,Yes,NaN,NaN,NaN,6151.40,NaN,19478.27,14233.60,982.50,1374.10,2887.16,NaN,NaN,NaN,4286.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4286.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6703343,EQUALITY,Other ship types,2018,NaN,BEIRUT,NaN,NaN,2019-06-30,2020-06-30,NaN,DROMON BUREAU OF SHIPPING,HELLENIC ACCREDITATION SYSTEM,"2-4 IAKOVOU DRAGATSI STREET, 18535",PIRAEUS,1128,GREECE,Yes,NaN,NaN,NaN,549.00,NaN,1724.63,0.00,938.13,753.25,33.25,NaN,NaN,NaN,1008.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1008.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Convert DataFrame to JSON

In [106]:
input_dataframe = df.loc[0]

In [107]:
data_dict = json.loads(input_dataframe.to_json())

In [172]:
print(data_dict)

{'imo_number': 5383304, 'name': 'ASTORIA', 'ship_type': 'Passenger ship', 'reporting_period': 2018, 'technical_efficiency': None, 'port_of_registry': None, 'home_port': None, 'ice_class': None, 'doc_issue_date': '2019-02-05', 'doc_expiry_date': '2020-06-30', 'verifier_number': None, 'verifier_name': 'ICS VERIFICATION SERVICES SINGLE MEMBER P.C.', 'verifier_nab': 'HELLENIC ACCREDITATION SYSTEM (ESYD)', 'verifier_address': '55 FILONOS STR.\n185 35 PIRAEUS, GREECE', 'verifier_city': 'PIRAEUS', 'verifier_accreditation_number': '1101', 'verifier_country': 'GREECE', 'a': 'Yes', 'b': None, 'c': None, 'd': None, 'total_fuel_consumption_m_tonnes': 6307.75, 'fuel_consumptions_assigned_to_on_laden_m_tonnes': None, 'total_co_emissions_m_tonnes': 20080.25, 'co_emissions_from_all_voyages_between_ports_under_a_ms_jurisdiction_m_tonnes': 16035.42, 'co_emissions_from_all_voyages_which_departed_from_ports_under_a_ms_jurisdiction_m_tonnes': 728.59, 'co_emissions_from_all_voyages_to_ports_under_a_ms_jurisdiction_m_tonnes': 974.78, 'co_emissions_which_occurred_within_ports_under_a_ms_jurisdiction_at_berth_m_tonnes': 2341.47, 'co_emissions_assigned_to_passenger_transport_m_tonnes': None, 'co_emissions_assigned_to_freight_transport_m_tonnes': None, 'co_emissions_assigned_to_on_laden_m_tonnes': None, 'annual_total_time_spent_at_sea_hours': 4170.2, 'annual_average_fuel_consumption_per_distance_kg_n_mile': None, 'annual_average_fuel_consumption_per_transport_work_mass_g_m_tonnes_n_miles': None, 'annual_average_fuel_consumption_per_transport_work_volume_g_m_n_miles': None, 'annual_average_fuel_consumption_per_transport_work_dwt_g_dwt_carried_n_miles': None, 'annual_average_fuel_consumption_per_transport_work_pax_g_pax_n_miles': None, 'annual_average_fuel_consumption_per_transport_work_freight_g_m_tonnes_n_miles': None, 'annual_average_co_emissions_per_distance_kg_co_n_mile': None, 'annual_average_co_emissions_per_transport_work_mass_g_co_m_tonnes_n_miles': None, 'annual_average_co_emissions_per_transport_work_volume_g_co_m_n_miles': None, 'annual_average_co_emissions_per_transport_work_dwt_g_co_dwt_carried_n_miles': None, 'annual_average_co_emissions_per_transport_work_pax_g_co_pax_n_miles': None, 'annual_average_co_emissions_per_transport_work_freight_g_co_m_tonnes_n_miles': None, 'through_ice_n_miles': None, 'total_time_spent_at_sea_hours': 4170.2, 'total_time_spent_at_sea_through_ice_hours': None, 'fuel_consumption_per_distance_on_laden_voyages_kg_n_mile': None, 'fuel_consumption_per_transport_work_mass_on_laden_voyages_g_m_tonnes_n_miles': None, 'fuel_consumption_per_transport_work_volume_on_laden_voyages_g_m_n_miles': None, 'fuel_consumption_per_transport_work_dwt_on_laden_voyages_g_dwt_carried_n_miles': None, 'fuel_consumption_per_transport_work_pax_on_laden_voyages_g_pax_n_miles': None, 'fuel_consumption_per_transport_work_freight_on_laden_voyages_g_m_tonnes_n_miles': None, 'co_emissions_per_distance_on_laden_voyages_kg_co_n_mile': None, 'co_emissions_per_transport_work_mass_on_laden_voyages_g_co_m_tonnes_n_miles': None, 'co_emissions_per_transport_work_volume_on_laden_voyages_g_co_m_n_miles': None, 'co_emissions_per_transport_work_dwt_on_laden_voyages_g_co_dwt_carried_n_miles': None, 'co_emissions_per_transport_work_pax_on_laden_voyages_g_co_pax_n_miles': None, 'co_emissions_per_transport_work_freight_on_laden_voyages_g_co_m_tonnes_n_miles': None, 'additional_information_to_facilitate_the_understanding_of_the_reported_average_operational_energy_efficiency_indicators': None, 'average_density_of_the_cargo_transported_m_tonnes_m': None}

In [109]:
json_path = os.path.join(*["tests", "resources", "vessel_clean.json"])

with open(json_path) as file:
    vessel_clean = json.load(file)

In [110]:
vessel_clean

{'imo_number': 5383304,
 'name': 'ASTORIA',
 'ship_type': 'Passenger ship',
 'reporting_period': 2018,
 'technical_efficiency': None,
 'port_of_registry': None,
 'home_port': None,
 'ice_class': None,
 'doc_issue_date': '2019-02-05',
 'doc_expiry_date': '2020-06-30',
 'verifier_details': {'verifier_number': None,
  'verifier_name': 'ICS VERIFICATION SERVICES SINGLE MEMBER P.C.',
  'verifier_accreditation_body': 'HELLENIC ACCREDITATION SYSTEM (ESYD)',
  'verifier_address': '55 FILONOS STR.\\n185 35 PIRAEUS, GREECE',
  'verifier_city': 'PIRAEUS',
  'verifier_accreditation_number': '1101',
  'verifier_country': 'GREECE'},
 'monitoring_methods': {'a': {'value': 'Yes',
   'description': 'BDN and period stock takes of fuel tanks'},
  'b': {'value': None, 'description': 'Bunker fuel tank monitoring on-board'},
  'c': {'value': None,
   'description': 'Flow meters for applicable combustion processes'},
  'd': {'value': None, 'description': 'Direct CO2 emissions measurement'}},
 'fuel_consumption_metrics': {'all_voyages': {'total': {'value': 6307.75,
    'unit': 'metric tonnes'},
   'annual_average': {'per_distance': {'value': None,
     'unit': 'kilogram / nautical mile'},
    'per_transport_work': {'mass': {'value': None,
      'unit': 'gram / (metric tonne * nautical mile)'},
     'volume': {'value': None, 'unit': 'gram / (meter^3 * nautical mile)'},
     'deadweight_tonnage': {'value': None,
      'unit': 'gram / (metric tonne * nautical mile)'},
     'passengers': {'value': None,
      'unit': 'gram / (metric tonne * nautical mile)'},
     'freight': {'value': None,
      'unit': 'gram / (metric tonne * nautical mile)'}}},
   'laden_voyages': {'total': {'value': 6307.75, 'unit': 'metric tonnes'},
    'annual_average': {'per_distance': {'value': None,
      'unit': 'kilogram / nautical mile'},
     'per_transport_work': {'mass': {'value': None,
       'unit': 'gram / (metric tonne * nautical mile)'},
      'volume': {'value': None, 'unit': 'gram / (meter^3 * nautical mile)'},
      'deadweight_tonnage': {'value': None,
       'unit': 'gram / (metric tonne * nautical mile)'},
      'passengers': {'value': None,
       'unit': 'gram / (metric tonne * nautical mile)'},
      'freight': {'value': None,
       'unit': 'gram / (metric tonne * nautical mile)'}}}}},
  'co2_emissions_metrics': {'all_voyages': {'total': {'value': 20080.25,
     'unit': 'metric tonnes'},
    'between_ports': {'value': 16035.42,
     'unit': 'metric tonnes',
     'description': 'CO2 emissions from all voyages between ports under a Member State jurisdiction'},
    'departed_from_ports': {'value': 728.59,
     'unit': 'metric tonnes',
     'description': 'CO2 emissions from all voyages which departed from ports under a Member State jurisdiction'},
    'to_ports': {'value': 974.78,
     'unit': 'metric tonnes',
     'description': 'CO2 emissions from all voyages to ports under a Member State jurisdiction'},
    'within_ports_at_berth': {'value': 2341.47,
     'unit': 'metric tonnes',
     'description': 'CO2 emissions which occurred within ports under a Member State jurisdiction at berth'},
    'passenger_transport': {'value': None, 'unit': 'metric tonnes'},
    'freight_transport': {'value': None, 'unit': 'metric tonnes'},
    'annual_average': {'per_distance': {'value': None,
      'unit': 'kilogram / nautical mile'},
     'per_transport_work': {'mass': {'value': None,
       'unit': 'gram / (metric tonne * nautical mile)'},
      'volume': {'value': None, 'unit': 'gram / (meter^3 * nautical mile)'},
      'deadweight_tonnage': {'value': None,
       'unit': 'gram / (metric tonne * nautical mile)'},
      'passengers': {'value': None,
       'unit': 'gram / (metric tonne * nautical mile)'},
      'freight': {'value': None,
       'unit': 'gram / (metric tonne * nautical mile)'}}}},
   'laden_voyages': {'total': {'value': None, 'unit': 'metric tonnes'},
    'annual_average': {'per_distance': {'value': None,
      'unit': 'kilogram / nautical mile'},
     'per_transport_work': {'mass': {'value': None,
       'unit': 'gram / (metric tonne * nautical mile)'},
      'volume': {'value': None, 'unit': 'gram / (meter^3 * nautical mile)'},
      'deadweight_tonnage': {'value': None,
       'unit': 'gram / (metric tonne * nautical mile)'},
      'passengers': {'value': None,
       'unit': 'gram / (metric tonne * nautical mile)'},
      'freight': {'value': None,
       'unit': 'gram / (metric tonne * nautical mile)'}}}}}},
 'time_metrics': {'annual_total_time_spent_at_sea': {'value': 4170.2,
   'unit': 'hour'},
  'total_time_spent_at_sea': {'value': 4170.2, 'unit': 'hour'},
  'total_time_spent_at_sea_through_ice': {'value': 4170.2, 'unit': 'hour'}},
 'distance_metrics': {'distance_travelled_through_ice': {'value': None,
   'unit': 'nautical miles'}},
 'density_metrics': {'average_cargo_density': {'value': None,
   'unit': 'metric tonnes / m^3'}},
 'additional_information': None}

In [160]:
csv_content = [['IMO Number', 'Name', 'Ship type', 'Reporting Period', 'Technical efficiency', 'Port of Registry', 'Home Port', 'Ice Class', 'DoC issue date', 'DoC expiry date', 'Verifier Number', 'Verifier Name', 'Verifier NAB', 'Verifier Address', 'Verifier City', 'Verifier Accreditation number', 'Verifier Country', 'A', 'B', 'C', 'D', 'Total fuel consumption [m tonnes]', 'Fuel consumptions assigned to On laden [m tonnes]', 'Total CO₂ emissions [m tonnes]', 'CO₂ emissions from all voyages between ports under a MS jurisdiction [m tonnes]', 'CO₂ emissions from all voyages which departed from ports under a MS jurisdiction [m tonnes]', 'CO₂ emissions from all voyages to ports under a MS jurisdiction [m tonnes]', 'CO₂ emissions which occurred within ports under a MS jurisdiction at berth [m tonnes]', 'CO₂ emissions assigned to Passenger transport [m tonnes]', 'CO₂ emissions assigned to Freight transport [m tonnes]', 'CO₂ emissions assigned to On laden [m tonnes]', 'Annual Total time spent at sea [hours]', 'Annual average Fuel consumption per distance [kg / n mile]', 'Annual average Fuel consumption per transport work (mass) [g / m tonnes · n miles]', 'Annual average Fuel consumption per transport work (volume) [g / m³ · n miles]', 'Annual average Fuel consumption per transport work (dwt) [g / dwt carried · n miles]', 'Annual average Fuel consumption per transport work (pax) [g / pax · n miles]', 'Annual average Fuel consumption per transport work (freight) [g / m tonnes · n miles]', 'Annual average CO₂ emissions per distance [kg CO₂ / n mile]', 'Annual average CO₂ emissions per transport work (mass) [g CO₂ / m tonnes · n miles]', 'Annual average CO₂ emissions per transport work (volume) [g CO₂ / m³ · n miles]', 'Annual average CO₂ emissions per transport work (dwt) [g CO₂ / dwt carried · n miles]', 'Annual average CO₂ emissions per transport work (pax) [g CO₂ / pax · n miles]', 'Annual average CO₂ emissions per transport work (freight) [g CO₂ / m tonnes · n miles]', 'Through ice [n miles]', 'Total time spent at sea [hours]', 'Total time spent at sea through ice [hours]', 'Fuel consumption per distance on laden voyages [kg / n mile]', 'Fuel consumption per transport work (mass) on laden voyages [g / m tonnes · n miles]', 'Fuel consumption per transport work (volume) on laden voyages [g / m³ · n miles]', 'Fuel consumption per transport work (dwt) on laden voyages [g / dwt carried · n miles]', 'Fuel consumption per transport work (pax) on laden voyages [g / pax · n miles]', 'Fuel consumption per transport work (freight) on laden voyages [g / m tonnes · n miles]', 'CO₂ emissions per distance on laden voyages [kg CO₂ / n mile]', 'CO₂ emissions per transport work (mass) on laden voyages [g CO₂ / m tonnes · n miles]', 'CO₂ emissions per transport work (volume) on laden voyages [g CO₂ / m³ · n miles]', 'CO₂ emissions per transport work (dwt) on laden voyages [g CO₂ / dwt carried · n miles]', 'CO₂ emissions per transport work (pax) on laden voyages [g CO₂ / pax · n miles]', 'CO₂ emissions per transport work (freight) on laden voyages [g CO₂ / m tonnes · n miles]', 'Additional information to facilitate the understanding of the reported average operational energy efficiency indicators', 'Average density of the cargo transported [m tonnes / m³]'], ['5383304', 'ASTORIA', 'Passenger ship', '2018', 'Not Applicable', '', '', '', '05/02/2019', '30/06/2020', '', 'ICS Verification Services Single Member P.C.', 'Hellenic Accreditation System (ESYD)', '55 Filonos Str.\n185 35 Piraeus, Greece', 'Piraeus', '1101', 'Greece', 'Yes', '', '', '', '6307.75', '', '20080.25', '16035.42', '728.59', '974.78', '2341.47', 'N/A', 'N/A', '', '4170.2', '139.07', 'N/A', 'N/A', 'N/A', '311.97', 'N/A', '442.71', 'N/A', 'N/A', 'N/A', '993.14', 'N/A', 'N/A', '4170.2', 'N/A', '', 'N/A', 'N/A', 'N/A', '', 'N/A', '', 'N/A', 'N/A', 'N/A', '', 'N/A', '', ''], ['6417097', 'MARCO POLO', 'Passenger ship', '2018', 'Not Applicable', '', '', 'IC', '05/02/2019', '30/06/2020', '', 'ICS Verification Services Single Member P.C.', 'Hellenic Accreditation System (ESYD)', '55 Filonos Str.\n185 35 Piraeus, Greece', 'Piraeus', '1101', 'Greece', 'Yes', '', '', '', '8125.56', '', '25689.03', '18028.86', '3161.92', '2155.09', '2343.16', 'N/A', 'N/A', '', '4360.57', '143.81', 'N/A', 'N/A', 'N/A', '202.42', 'N/A', '454.65', 'N/A', 'N/A', 'N/A', '639.96', 'N/A', '', '4360.57', '', '', 'N/A', 'N/A', 'N/A', '', 'N/A', '', 'N/A', 'N/A', 'N/A', '', 'N/A', '', ''], ['6511128', 'RED STAR 1', 'Ro-pax ship', '2018', 'EIV (45.57 gCO₂/t·nm)', '', '', '', '30/04/2019', '30/06/2020', '', 'VERIFAVIA (UK) LTD', 'UKAS', '20-22 Wenlock Road', 'London', '4599', 'United Kingdom', 'Yes', '', '', '', '2205.37', 'N/A', '6941.34', '380.99', '2905.22', '2893.35', '761.75', '4368.91', '2572.43', 'N/A', '2712', '54.43', 'N/A', 'N/A', 'N/A', '0.66', '0.81', '171.31', 'N/A', 'N/A', 'N/A', '2.07', '2.6', 'N/A', '2712', 'N/A', '', 'N/A', 'N/A', 'N/A', '', '', '', 'N/A', 'N/A', 'N/A', '', '', '', ''], ['6602898', 'OCEAN MAJESTY', 'Passenger ship', '2018', 'EIV (31.73 gCO₂/t·nm)', 'Madeira', '', '', '06/05/2019', '30/06/2020', '', 'Bureau Veritas Certification France', 'COFRAC', "Le Triangle de l'Arche\n9, cours du Triangle", '92937 PARIS LA DEFENSE', '4-0076', 'France', 'Yes', '', '', '', '6151.4', '', '19478.27', '14233.6', '982.5', '1374.1', '2887.16', 'N/A', 'N/A', '', '4286.21', '120.93', 'N/A', 'N/A', 'N/A', '355.05', 'N/A', '382.91', 'N/A', 'N/A', 'N/A', '1124.27', 'N/A', 'N/A', '4286.21', 'N/A', '', 'N/A', 'N/A', 'N/A', '', 'N/A', '', 'N/A', 'N/A', 'N/A', '', 'N/A', '', ''], ['6703343', 'EQUALITY', 'Other ship types', '2018', 'Not Applicable', 'Beirut', '', '', '30/06/2019', '30/06/2020', '', 'Dromon Bureau of Shipping', 'Hellenic Accreditation System', '2-4 Iakovou Dragatsi street, 18535', 'Piraeus', '1128', 'Greece', 'Yes', '', '', '', '549', '', '1724.63', '0', '938.13', '753.25', '33.25', 'N/A', 'N/A', '', '1008', '63.46', '91.14', 'N/A', 'Division by zero!', 'N/A', 'N/A', '199.36', '286.3', 'N/A', 'Division by zero!', 'N/A', 'N/A', 'N/A', '1008', 'N/A', '', '', 'N/A', '', 'N/A', 'N/A', '', '', 'N/A', '', 'N/A', 'N/A', '', ''], ['7037806', 'BOHUS', 'Ro-pax ship', '2018', 'EIV (146 gCO₂/t·nm)', '', '', 'IC', '30/04/2019', '30/06/2020', '', 'DNV GL', 'German national accreditation body (DAkkS)', 'Brooktorkai 18', '20457 Hamburg', 'D-VS-16026-01-00', 'Germany', 'Yes', '', '', '', '5225', 'N/A', '16751.35', '14623.63', '0', '0', '2127.72', '14238.65', '2512.7', 'N/A', '3753.82', '104.94', 'N/A', 'N/A', 'N/A', '317.41', '64.5', '336.43', 'N/A', 'N/A', 'N/A', '1017.63', '206.78', '0', '3753.82', '0', '', 'N/A', 'N/A', 'N/A', '', '', '', 'N/A', 'N/A', 'N/A', '', '', '', ''], ['7043843', 'TALOS', 'Ro-ro ship', '2018', 'EEDI (60.41 gCO₂/t·nm)', 'Piraeus', 'Piraeus', '', '25/07/2019', '30/06/2020', '', 'VERIFAVIA (UK) LTD', 'UKAS', '20-22 Wenlock Road', 'London', '4599', 'United Kingdom', 'Yes', '', 'Yes', '', '3784.12', '', '11959.02', '11959.02', '0', '0', '0', 'N/A', 'N/A', '', '3835.2', '76.87', '167.15', 'N/A', 'N/A', 'N/A', 'N/A', '242.95', '528.25', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '3835.2', 'N/A', '', '', 'N/A', 'N/A', 'N/A', 'N/A', '', '', 'N/A', 'N/A', 'N/A', 'N/A', '', ''], ['7108930', 'BLACK WATCH', 'Passenger ship', '2018', '', '', '', '', '14/05/2019', '30/06/2020', '', 'DNV GL', 'German national accreditation body (DAkkS)', 'Brooktorkai 18', '20457 Hamburg', 'D-VS-16026-01-00', 'Germany', '', '', '', '', '8994.7', '', '28302.42', '20465.88', '0', '4953.31', '2883.23', 'N/A', 'N/A', '', '4656', '165.28', 'N/A', 'N/A', 'N/A', '284.6', 'N/A', '520.05', 'N/A', 'N/A', 'N/A', '895.52', 'N/A', 'N/A', '4656', 'N/A', '', 'N/A', 'N/A', 'N/A', '', 'N/A', '', 'N/A', 'N/A', 'N/A', '', 'N/A', '', ''], ['7128332', 'SEA WIND', 'Ro-pax ship', '2018', 'EIV (9.29 gCO₂/t·nm)', 'Tallinn', 'Tallinn', 'IB', '29/04/2019', '30/06/2020', '', 'VERIFAVIA (UK) LTD', 'UKAS', '20-22 Wenlock Road', 'London', '4599', 'United Kingdom', 'Yes', '', '', '', '4079.71', 'N/A', '12912.35', '12243.3', '0', '0', '669', '3085.35', '9157.98', 'N/A', '3787', '83.73', 'N/A',
 'N/A', 'N/A', '592.19', '54.61', '265', 'N/A', 'N/A', 'N/A', '1873.44', '172.77', '', '3787', '', '', 'N/A', 'N/A', 'N/A', '', '', '', 'N/A', 'N/A', 'N/A', '', '', '', '']]

In [161]:
columns = csv_content[0]

In [162]:
columns_clean = [clean_column(col) for col in columns]

In [163]:
columns_clean

['imo_number',
 'name',
 'ship_type',
 'reporting_period',
 'technical_efficiency',
 'port_of_registry',
 'home_port',
 'ice_class',
 'doc_issue_date',
 'doc_expiry_date',
 'verifier_number',
 'verifier_name',
 'verifier_nab',
 'verifier_address',
 'verifier_city',
 'verifier_accreditation_number',
 'verifier_country',
 'a',
 'b',
 'c',
 'd',
 'total_fuel_consumption_m_tonnes',
 'fuel_consumptions_assigned_to_on_laden_m_tonnes',
 'total_co_emissions_m_tonnes',
 'co_emissions_from_all_voyages_between_ports_under_a_ms_jurisdiction_m_tonnes',
 'co_emissions_from_all_voyages_which_departed_from_ports_under_a_ms_jurisdiction_m_tonnes',
 'co_emissions_from_all_voyages_to_ports_under_a_ms_jurisdiction_m_tonnes',
 'co_emissions_which_occurred_within_ports_under_a_ms_jurisdiction_at_berth_m_tonnes',
 'co_emissions_assigned_to_passenger_transport_m_tonnes',
 'co_emissions_assigned_to_freight_transport_m_tonnes',
 'co_emissions_assigned_to_on_laden_m_tonnes',
 'annual_total_time_spent_at_sea_hours',
 'annual_average_fuel_consumption_per_distance_kg_n_mile',
 'annual_average_fuel_consumption_per_transport_work_mass_g_m_tonnes_n_miles',
 'annual_average_fuel_consumption_per_transport_work_volume_g_m_n_miles',
 'annual_average_fuel_consumption_per_transport_work_dwt_g_dwt_carried_n_miles',
 'annual_average_fuel_consumption_per_transport_work_pax_g_pax_n_miles',
 'annual_average_fuel_consumption_per_transport_work_freight_g_m_tonnes_n_miles',
 'annual_average_co_emissions_per_distance_kg_co_n_mile',
 'annual_average_co_emissions_per_transport_work_mass_g_co_m_tonnes_n_miles',
 'annual_average_co_emissions_per_transport_work_volume_g_co_m_n_miles',
 'annual_average_co_emissions_per_transport_work_dwt_g_co_dwt_carried_n_miles',
 'annual_average_co_emissions_per_transport_work_pax_g_co_pax_n_miles',
 'annual_average_co_emissions_per_transport_work_freight_g_co_m_tonnes_n_miles',
 'through_ice_n_miles',
 'total_time_spent_at_sea_hours',
 'total_time_spent_at_sea_through_ice_hours',
 'fuel_consumption_per_distance_on_laden_voyages_kg_n_mile',
 'fuel_consumption_per_transport_work_mass_on_laden_voyages_g_m_tonnes_n_miles',
 'fuel_consumption_per_transport_work_volume_on_laden_voyages_g_m_n_miles',
 'fuel_consumption_per_transport_work_dwt_on_laden_voyages_g_dwt_carried_n_miles',
 'fuel_consumption_per_transport_work_pax_on_laden_voyages_g_pax_n_miles',
 'fuel_consumption_per_transport_work_freight_on_laden_voyages_g_m_tonnes_n_miles',
 'co_emissions_per_distance_on_laden_voyages_kg_co_n_mile',
 'co_emissions_per_transport_work_mass_on_laden_voyages_g_co_m_tonnes_n_miles',
 'co_emissions_per_transport_work_volume_on_laden_voyages_g_co_m_n_miles',
 'co_emissions_per_transport_work_dwt_on_laden_voyages_g_co_dwt_carried_n_miles',
 'co_emissions_per_transport_work_pax_on_laden_voyages_g_co_pax_n_miles',
 'co_emissions_per_transport_work_freight_on_laden_voyages_g_co_m_tonnes_n_miles',
 'additional_information_to_facilitate_the_understanding_of_the_reported_average_operational_energy_efficiency_indicators',
 'average_density_of_the_cargo_transported_m_tonnes_m']

In [164]:
string_columns = ['imo_number',
 'name',
 'ship_type',
 'reporting_period',
 'technical_efficiency',
 'port_of_registry',
 'home_port',
 'ice_class',
 'doc_issue_date',
 'doc_expiry_date',
 'verifier_number',
 'verifier_name',
 'verifier_nab',
 'verifier_address',
 'verifier_city',
 'verifier_accreditation_number',
 'verifier_country',
 'a',
 'b',
 'c',
 'd']

In [165]:
float_columns = [col for col in columns_clean if col not in string_columns]

In [166]:
upper_case_columns = ['name',
 'port_of_registry',
 'home_port',
 'verifier_name',
 'verifier_nab',
 'verifier_address',
 'verifier_city',
 'verifier_country']

In [167]:
date_columns = ["doc_issue_date","doc_expiry_date"]

In [168]:
def convert_csv_to_dictionaries(csv_content):
    columns = [clean_column(col) for col in csv_content[0]]
    return [dict(zip(columns, row)) for row in csv_content[1:]]

In [169]:
converted_data = convert_csv_to_dictionaries(csv_content)

In [173]:
print(converted_data[0])

{'imo_number': '5383304', 'name': 'ASTORIA', 'ship_type': 'Passenger ship', 'reporting_period': '2018', 'technical_efficiency': 'Not Applicable', 'port_of_registry': '', 'home_port': '', 'ice_class': '', 'doc_issue_date': '05/02/2019', 'doc_expiry_date': '30/06/2020', 'verifier_number': '', 'verifier_name': 'ICS Verification Services Single Member P.C.', 'verifier_nab': 'Hellenic Accreditation System (ESYD)', 'verifier_address': '55 Filonos Str.\n185 35 Piraeus, Greece', 'verifier_city': 'Piraeus', 'verifier_accreditation_number': '1101', 'verifier_country': 'Greece', 'a': 'Yes', 'b': '', 'c': '', 'd': '', 'total_fuel_consumption_m_tonnes': '6307.75', 'fuel_consumptions_assigned_to_on_laden_m_tonnes': '', 'total_co_emissions_m_tonnes': '20080.25', 'co_emissions_from_all_voyages_between_ports_under_a_ms_jurisdiction_m_tonnes': '16035.42', 'co_emissions_from_all_voyages_which_departed_from_ports_under_a_ms_jurisdiction_m_tonnes': '728.59', 'co_emissions_from_all_voyages_to_ports_under_a_ms_jurisdiction_m_tonnes': '974.78', 'co_emissions_which_occurred_within_ports_under_a_ms_jurisdiction_at_berth_m_tonnes': '2341.47', 'co_emissions_assigned_to_passenger_transport_m_tonnes': 'N/A', 'co_emissions_assigned_to_freight_transport_m_tonnes': 'N/A', 'co_emissions_assigned_to_on_laden_m_tonnes': '', 'annual_total_time_spent_at_sea_hours': '4170.2', 'annual_average_fuel_consumption_per_distance_kg_n_mile': '139.07', 'annual_average_fuel_consumption_per_transport_work_mass_g_m_tonnes_n_miles': 'N/A', 'annual_average_fuel_consumption_per_transport_work_volume_g_m_n_miles': 'N/A', 'annual_average_fuel_consumption_per_transport_work_dwt_g_dwt_carried_n_miles': 'N/A', 'annual_average_fuel_consumption_per_transport_work_pax_g_pax_n_miles': '311.97', 'annual_average_fuel_consumption_per_transport_work_freight_g_m_tonnes_n_miles': 'N/A', 'annual_average_co_emissions_per_distance_kg_co_n_mile': '442.71', 'annual_average_co_emissions_per_transport_work_mass_g_co_m_tonnes_n_miles': 'N/A', 'annual_average_co_emissions_per_transport_work_volume_g_co_m_n_miles': 'N/A', 'annual_average_co_emissions_per_transport_work_dwt_g_co_dwt_carried_n_miles': 'N/A', 'annual_average_co_emissions_per_transport_work_pax_g_co_pax_n_miles': '993.14', 'annual_average_co_emissions_per_transport_work_freight_g_co_m_tonnes_n_miles': 'N/A', 'through_ice_n_miles': 'N/A', 'total_time_spent_at_sea_hours': '4170.2', 'total_time_spent_at_sea_through_ice_hours': 'N/A', 'fuel_consumption_per_distance_on_laden_voyages_kg_n_mile': '', 'fuel_consumption_per_transport_work_mass_on_laden_voyages_g_m_tonnes_n_miles': 'N/A', 'fuel_consumption_per_transport_work_volume_on_laden_voyages_g_m_n_miles': 'N/A', 'fuel_consumption_per_transport_work_dwt_on_laden_voyages_g_dwt_carried_n_miles': 'N/A', 'fuel_consumption_per_transport_work_pax_on_laden_voyages_g_pax_n_miles': '', 'fuel_consumption_per_transport_work_freight_on_laden_voyages_g_m_tonnes_n_miles': 'N/A', 'co_emissions_per_distance_on_laden_voyages_kg_co_n_mile': '', 'co_emissions_per_transport_work_mass_on_laden_voyages_g_co_m_tonnes_n_miles': 'N/A', 'co_emissions_per_transport_work_volume_on_laden_voyages_g_co_m_n_miles': 'N/A', 'co_emissions_per_transport_work_dwt_on_laden_voyages_g_co_dwt_carried_n_miles': 'N/A', 'co_emissions_per_transport_work_pax_on_laden_voyages_g_co_pax_n_miles': '', 'co_emissions_per_transport_work_freight_on_laden_voyages_g_co_m_tonnes_n_miles': 'N/A', 'additional_information_to_facilitate_the_understanding_of_the_reported_average_operational_energy_efficiency_indicators': '', 'average_density_of_the_cargo_transported_m_tonnes_m': ''}